  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">


    <div class="row">
      <div class="span12" id="Dmytro.Ovcharenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <a href="http://www.facebook.com/dima.ovcharenko" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:dovchar@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Dmytro Ovcharenko <small>  JavaScript Technical leader  </small></h3>
          <p>
            I have over 6 years of experience in IT industry. I have implemented more then 10 software projects of various sizes, including full application design from scratch, working on requirements analysis and specifications, issues detection, analysis and resolving, coding, testing, performance, code improvement and maintenance with producing concise technical documentation and providing technical leadership. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Meteor </h4>
          <p>
            I'll talk about js, where js is, about some new ways and about meteor js
          <p>
          <div class="label"> JS </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Petro.Sasnyk">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <a href="https://www.facebook.com/stoune.ua" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/in/sasnyk" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="https://twitter.com/stoune" target="_blank"><i class="icon-twitter"></i></a>
            <a href="http://blog.sasnyk.name" target="_blank"><i class="icon-external-link"></i></a>
            <a href="mailto:psasnyk@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Petro Sasnyk  <small> Tech Lead </small></h3>
          <p>
            Man who wants to know everything. Teach Lead, husband. Technology addicted. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Amazon Web Services OpsWorks. Deployment with ease</h4>
          <p>
            Automate your application full lifecycle with AWS OpsWorks.<br>
            Learn how to provision AWS resources, configure them, deploy your applicat ion and monitor their health.<br>
            Presentation will be supplemented with real-world practical example.
          <p>
          <div class="label"> OPS </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Vitaliy.Tarnavskiy">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <div class="links">
            <a href="http://www.facebook.com/rettlers" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:vtarnav@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Vitaliy Tarnavskiy  <small> Senior Web Developer </small></h3>
          <p>
            I have about 9 years of experience in Web development. Mostly it is related to PHP, but 2 years ago I fully switched to Javascript. Since that time I regularly discover something interesting in Javascrpit to my great surprise. All those things I discover 9 years ago weren't possible at all, cause Javascript was totally different.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Using Web workers in Javascript </h4>
          <p>
            Introduction into wonderful world of Web workers in Javascript
          <p>
          <div class="label"> JS </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Andriy.Shapochka">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <div class="links">
            <a href="https://www.facebook.com/andriy.shapochka" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:ashapoch@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Andriy Shapochka <small>System Architect</small></h3>
          <p>
            Andriy - System Architect at <a href="http://softserve.ua">SoftServe</a>. Lives in Chernivtsi.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Geo-distributed Messaging with RabbitMQ</h4>
          <p>
            Will discuss building geo-distributed architectures with requirements for consistent data replication based on RabbitMQ messaging.
          <p>
          <div class="label">MQ</div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Dima.Tarasenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.jpg"/>
          <div class="links">
            <a href="http://www.facebook.com/profile.php?id=100001816220762" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:dtarasen@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Dima Tarasenko <small>JS Developer</small></h3>
          <p>
            Dima - JavaScript Developer at <a href="http://softserve.ua">SoftServe</a>. Lives in Lviv.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4>Unusual JavaScript projects</h4>
          <p>
            Presentation of non standart js applications, such as: audio editor, virtual machines, 3d games, db engine and so on...
          <p>
          <div class="label">JS</div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Serhii.Borysov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.png"/>
          <div class="links">
            <a href="mailto:sborysov@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Serhii Borysov <small> Senior Software Engineer </small></h3>
          <p>
            Senior Software Engineer at <a href="http://softserve.ua">SoftServe</a>. High Load solutions and Cloud platforms adept. Lives in Amazon Cloud.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Gems, snakes and Amazon forests. </h4>
          <p>
            Benefits of usage Ruby and Python by deployment on Amazon Web services. Scripting and API – basis of AWS automation.
          <p>
          <div class="label"> OPS </div>
        </div>
      </div>
    </div>





    <div class="row">
      <div class="span12" id="Oleksandr.Krasnokutskyi">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-1.png"/>
          <div class="links">
            <a href="http://www.linkedin.com/profile/view?id=158155929" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:okrasn@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Oleksandr Krasnokutskyi <small> Software Engineer </small></h3>
          <p>
            Software Engineer at <a href="http://softserve.ua">SoftServe</a>. Lives in Chernivtsi.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Mobile first </h4>
          <p>
            I'll talk about principles and methods of using mobile design patterns and philosophy of "mobile first" for mobile application
          <p>
          <div class="label"> UX/UI </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Oleksandr.Berchenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-2.png"/>
          <div class="links">
            <a href="mailto:ober@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Oleksandr Berchenko <small> Software Engineer </small></h3>
          <p>
            Software Engineer at <a href="http://softserve.ua">SoftServe</a>. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Whois: a practical guide </h4>
          <p>
            Topic uncovers the work of whois protocols, existing client solutions and various "tips and tricks" that may help in writing effective client scripts.
          <p>
          <div class="label"> OPS </div>
        </div>
      </div>
    </div>
    

    
  
    </div>



      </div>


    </div>
  </div>
