  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">


    <div class="row">
      <div class="span12" id="Dmytro.Ovcharenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:dovchar@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Dmytro Ovcharenko <small>    </small></h3>
          <p>
            I have over 6 years of experience in IT industry. I have implemented more then 10 software projects of various sizes, including full application design from scratch, working on requirements analysis and specifications, issues detection, analysis and resolving, coding, testing, performance, code improvement and maintenance with producing concise technical documentation and providing technical leadership. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> JS performance </h4>
          <p>
            I will share some experience about memory leaks problems in a huge SPA.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
	
	<div class="row">
      <div class="span12" id="Dmytro.Tarasenko ">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:dtarasen@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Dmytro Tarasenko <small>    </small></h3>
          <p>
            Life, just for fun! Don't waste your time ;)
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> JavaScript Quest for programmers || Creating JS OOP library </h4>
          <p>
            
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>

	
	<div class="row">
      <div class="span12" id="Valentyn.Maksymov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:vmaks@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Valentyn Maksymov <small>    </small></h3>
          <p>
            I've been enjoying building web application for more than 3 years. JavaScript is my passion, and high code health level is one of the biggest challenges I accepted and now trying to widespread it around.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Code health in JavaScript </h4>
          <p>
            We will define what code health is and what it can be eaten with in JavaScript.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
	
	<div class="row">
      <div class="span12" id="Maksym.Shtyria">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:mshtyr@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Maksym Shtyria <small>    </small></h3>
          <p>
            I am front-end developer. I have been working in IT more than 2.5 years and have known a lot of interesting technologies. My favorite languages are javascript (FE and BE) and golang. Also I am interesting in cloud technologies.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Sails.js - rail-way for nodeJS </h4>
          <p>
            A speech about new cool and very simple way to develop applications with using nodeJS and SPA. A few words about features of Sails.js and short demo.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
	
		<div class="row">
      <div class="span12" id="Dmytro.Panov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:dpanov@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Dmytro Panov <small>    </small></h3>
          <p>
            SoftServe software engineer specialized on Ruby, JavaScript, Java, Oracle, PostgreSQL, etc.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> From Startup to Enterprise on Rails </h4>
          <p>
            I am going to describe the way and technologies that we use on our project. And how we became more stable, highly available and efficient running Rails App with J2EE ecosystem.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
    
  
    </div>
    




      </div>


    </div>
  </div>
