  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">


    <div class="row">
      <div class="span12" id="Dmytro.Ovcharenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <a href="mailto:dovchar@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          <h3>Dmytro Ovcharenko</h3>
          <p>
            I have over 6 years of experience in IT industry. I have implemented more then 10 software projects of various sizes, including full application design from scratch, working on requirements analysis and specifications, issues detection, analysis and resolving, coding, testing, performance, code improvement and maintenance with producing concise technical documentation and providing technical leadership. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="http://www.slideshare.net/snich/js-performance-tools" target="_blank"><i class="icon-download-alt"></i></a>
          </div>
          <h4>JS performance</h4>
          <p>
            I will share some experience about memory leaks problems in a huge SPA.
          <p>
        </div>
      </div>
    </div>
	
	<div class="row">
      <div class="span12" id="Kyrylo.Buzykin ">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:kbuzyk@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Kyrylo Buzykin <small>    </small></h3>
          <p>I've been a Software Engineer for 5 years and I still love every second of it. Been working on web-software for all this time. At first like a freelancer and then found myself as part of a large team.
I am experienced in Procedure and OOP programming. Complex and long-term projects taught me to navigate through large source files written by other developers.
People can call me a perfectionist, but I'm not. I'm a “rightist”. I do something until it's right, and then I move on to the next thing. I need to keep things done, need it physically and mentally. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="/slides/<%= settings.conf %>/JavaScript-Scalability.pptx" target="_blank">
              <i class="icon-download-alt"></i>
            </a>
          </div>
          <h4>Scalable JavaScript Application Architecture</h4>
          <p>
            During the presentation we discover how to build a modern Scalable JavaScript Application that scales for the challenges of today's complex web applications, using approved best practices.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
	
	<div class="row">
      <div class="span12" id="Dmytro.Tarasenko ">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:dtarasen@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Dmytro Tarasenko <small>    </small></h3>
          <p>
            Life, just for fun! Don't waste your time ;)
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://www.dropbox.com/s/4lmthj9k6buxspy/JSQuest.pptx?dl=0" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> JavaScript Quest for programmers || Creating JS OOP library </h4>
          <p>
            I will share my thoughts on how useful to have JS OOP tool with the help of that you can easily build large and middle projects. Also I will describe details of creation such a tool on your own. 
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>

	
	<div class="row">
      <div class="span12" id="Valentyn.Maksymov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <div class="links">
            <a href="mailto:vmaks@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          <h3>Valentyn Maksymov</h3>
          <p>
            I've been enjoying building web application for more than 3 years. JavaScript is my passion, and high code health level is one of the biggest challenges I accepted and now trying to widespread it around.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="/slides/<%= settings.conf %>/CodeHealthPresentation.pptx" target="_blank">
              <i class="icon-download-alt"></i>
            </a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Code health in JavaScript </h4>
          <p>
            We will define what code health is and what it can be eaten with in JavaScript.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
	
	<div class="row">
      <div class="span12" id="Maksym.Shtyria">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:mshtyr@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Maksym Shtyria <small>    </small></h3>
          <p>
            I am front-end developer. I have been working in IT more than 2.5 years and have known a lot of interesting technologies. My favorite languages are javascript (FE and BE) and golang. Also I am interesting in cloud technologies.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="http://prezi.com/oozrnpcvixhn/?utm_campaign=share&utm_medium=copy" target="_blank">
              <i class="icon-download-alt"></i>
            </a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Sails.js - rail-way for nodeJS </h4>
          <p>
            A speech about new cool and very simple way to develop applications with using nodeJS and SPA. A few words about features of Sails.js and short demo.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
	
		<div class="row">
      <div class="span12" id="Dmytro.Panov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:dpanov@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Dmytro Panov <small>    </small></h3>
          <p>
            SoftServe software engineer specialized on Ruby, JavaScript, Java, Oracle, PostgreSQL, etc.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="/slides/<%= settings.conf %>/Rails.From.Startup.To.Enterprise.zip" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> From Startup to Enterprise on Rails </h4>
          <p>
            I am going to describe the way and technologies that we use on our project. And how we became more stable, highly available and efficient running Rails App with J2EE ecosystem.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
	
	
		<div class="row">
      <div class="span12" id="Taras.Kustov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-7.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:tkustov@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Taras Kustov <small>    </small></h3>
          <p>
            Yet another one Web UI peacemaker :)
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="/slides/<%= settings.conf %>/Web-Components-How-It-Will-Be.ppsx" target="_blank">
              <i class="icon-download-alt"></i>
            </a>
          </div>
          <h4> Web Components: How It Will Be </h4>
          <p>
            1. Short intro to Web Components
            2. Today's problems in Web UI
            3. How Web Components should solve this problems
          <p>
        </div>
      </div>
    </div>
	
	<div class="row">
      <div class="span12" id="Nodarii.Varenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-8.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:nvaren@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Nodarii Varenko <small>    </small></h3>
          <p>
            1. Why should we care about that?
            2. What memory leaks exist in JS?
            3. When does value become "garbage"?
            4. V8 Garbage Collector in detail.
            5. Young &amp; Old Generations.
            6. Ways to find memory leak in your project.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="http://prezi.com/di2uzablx1z2/?utm_campaign=share&utm_medium=copy&rc=ex0share" target="_blank">
              <i class="icon-download-alt"></i>
            </a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Memory leaks in JS </h4>
          <p>1. Why should we care about that?
2. What memory leaks exist in JS?
3. When does value become "garbage"?
4. V8 Garbage Collector in detail.
5. Young & Old Generations.
6. Ways to find memory leak in your project.

          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>

  <!-- Nikos Ananikov -->

  <div class="row">
    <div class="span12" id="Nikos.Ananikov">
      <div class="span2 photo">
        <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-10.jpg"/>
        <div class="links">
          <a href="mailto:nanan@softserveinc.com"><i class="icon-envelope"></i></a>
        </div>
      </div>
      <div class="span5 about">
        <h3>Nikos Ananikov</h3>
        <p>
          I'm working as a Front End developer for more than 2.5 years and all this time I was working on a large project using JavaScript every day. I'm fond of it. I love JavaScript because of its abilities that develop every day. Browsers now are more than just hyper text markup language explorers. They are mad in their interaction varieties and extremely perspective. I love being Web UI developer.
        </p>
      </div>
      <div class="span4 alert alert-block topic">
        <i class="box-caret"></i>
        <div class="links">
          <a href="/slides/<%= settings.conf %>/Lua2.pptx" target="_blank">
            <i class="icon-download-alt"></i>
          </a>
        </div>
        <h4>Back side of the Moon? Or another one scripting language...</h4>
        <p>
          Let's talk for a while about something that is not a JavaScript. This is a scripting language too and it may bring you even more pleasure than  JavaScript. I won't name it on purpose.
        <p>
      </div>
    </div>
  </div>

  <!-- / Nikos Ananikov -->

  <!-- Victor Tkachenko -->

  <div class="row">
    <div class="span12" id="Victor.Tkachenko">
      <div class="span2 photo">
        <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-11.jpg"/>
        <div class="links">
          <a href="mailto:vtkach@softserveinc.com"><i class="icon-envelope"></i></a>
        </div>
      </div>
      <div class="span5 about">
        <h3>Victor Tkachenko</h3>
        <p>
          I'm working as WebUI engineer for more than 1 year. I like JavaScript and everything related to it.
        </p>
      </div>
      <div class="span4 alert alert-block topic">
        <i class="box-caret"></i>
        <div class="links">
          <a href="/slides/<%= settings.conf %>/Zombiejs.pptm" target="_blank">
            <i class="icon-download-alt"></i>
          </a>
        </div>
        <h4>Zombie.js</h4>
        <p>
          Lightweight framework for automation testing. It is a cool tool :)
        <p>
      </div>
    </div>
  </div>

  <!-- / Victor Tkachenko -->

  <!-- Sergii Zabigailo -->

  <div class="row">
    <div class="span12" id="Sergii.Zabigailo">
      <div class="span2 photo">
        <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-12.jpg"/>
        <div class="links">
          <a href="mailto:szabig@softserveinc.com"><i class="icon-envelope"></i></a>
        </div>
      </div>
      <div class="span5 about">
        <h3>Sergii Zabigailo</h3>
        <p>
          I’m a HealthCare vertical Program Manager at SoftServe. Being an active member of SoftServe PMO community, Sergii is an expert on both theoretical and practical aspects of project management, with a particular success in PMs' evaluating and coaching, assisting them in establishing and maintaining projects lifecycle. Also Sergii is a true fan of GTD, TOC and Lean Kaizen.
        </p>
      </div>
      <div class="span4 alert alert-block topic">
        <i class="box-caret"></i>
        <div class="links">
          <a href="/slides/<%= settings.conf %>/How-to-manage-your-leader-v3.pptx" target="_blank">
            <i class="icon-download-alt"></i>
          </a>
        </div>
        <h4>7 Tips Every Geek Should Know</h4>
        <p>
          Having an excellent relationship with your leader can greatly improve your working ability and enhance your career success.
          - We will take a look on choosing the right communications method
          - How to get buy-in for the things you want
          - How to avoid typical mistakes in oral and written communication.
        <p>
      </div>
    </div>
  </div>

  <!-- / Sergii Zabigailo -->
    
  
    </div>
    




      </div>


    </div>
  </div>
