  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">

    <!-- <div class="row">
        <div class="span4">
          <br><br>
        </div>
        <div class="span5">
            <br><br><br><br><br>
            <a href="mailto:obaranov@softserveinc.com, dovchar@softserveinc.com, omekh@softserveinc.com"><h1>Call for Speakers!<small> <br> mail us to suggest a speaker</small></h1></a>
            <br><br><br><br><br>
        </div>
        <div class="span3">
          <br><br>
        </div>
    </div> -->

    <div class="row">
      <div class="span12" id="Borys.Korobeinikov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <!-- <a href="http://www.facebook.com/ilya.grishkevich.1" target="_blank"><i class="icon-facebook"></i></a> -->
            <!-- <a href="http://www.linkedin.com/pub/ilya-grishkevich/17/14a/405" target="_blank"><i class="icon-linkedin"></i></a> -->
            <a href="http://www.linkedin.com/in/boryskorobeinikov" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:igrysh@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Borys Korobeinikov <small> .NET Developer </small></h3>
          <p>
            Geek, Dreamer, Software engineer :)
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Cloud Computing with Windows Azure </h4>
          <p>
             Platform overview<br>
             Services (Database, Caching, Storage, Virtual Machines, Media Services)
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Serhii.Seletskyi">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <a href="http://vk.com/seletskysergey"><i class="icon-external-link"></i></a>
            <a href="mailto:sselet@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Serhii Seletskyi <small> Senior Software Engineer </small></h3>
          <p>
            Senior Software Engineer at SoftServe in IT working for over 5 years, experts on enterprise projects on Microsoft technologies, lives in Lviv
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Development of innovative cross-platform solutions </h4>
          <p>
            This presentation describes the process of creating a modern ecosystem applications using standard HTML5 and Clouds
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Serhii.Borysov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <div class="links">
            <a href="http://www.linkedin.com/in/mykytyukandriy" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:amykyt@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Andriy Mykytyuk <small> Abiliton Project Manager </small></h3>
          <p>
            Мені 11010 років. Ви, мабуть, вже здогадались, що я айтішник та жартівник. Не до кінця впевнений що з них моя професія, а що хобі. Я розпочав свою кар'єру як розробник програмного забезпечення, а зараз займаюсь проектним менеджментом. Не здивуюсь, якщо за декілька років займусь чимось іншим, бо надзвичайно люблю нові ідеї та досліджувати цей маленький та надзвичайно цікавий Світ.
            <br>
            Більшість свого часу проводжу тут: 49° 49' 55", 23° 59' 55", тому звертайтесь, буду радий поспілкуватись.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Creativity techniques </h4>
          <p>
            Уявіть собі, що ви були зменшені до розмірів 5-копійкової монети і ваша маса була пропорційно зменшена відповідно до вашої густини. Тепер вас кинули в порожню чашу блендера. Ножі почнуть рух через 60 секунд. Що ви плануєте робити?
            <br>
            Хочете дізнатись як збільшити свою продуктивність в креативному мисленні? Приходьте на pacemaker 2 березня ;)
          <p>
          <div class="label"> social </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12" id="Petro.Sasnyk">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <div class="links">
            <a href="https://www.facebook.com/stoune.ua" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/in/sasnyk" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="https://twitter.com/stoune" target="_blank"><i class="icon-twitter"></i></a>
            <a href="http://blog.sasnyk.name" target="_blank"><i class="icon-external-link"></i></a>
            <a href="mailto:psasnyk@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Petro Sasnyk  <small> Tech Lead </small></h3>
          <p>
            Man who wants to know everything. Teach Lead, husband. Technology addicted. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> TPL DataFlow the concurrent beast from .NET kingdom.</h4>
          <p>
            I will describe how to build highly concurrent and robust application utilizing actor-based programming techniques on .NET.
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Illia.Gryshkevych">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-7.png"/>
          <div class="links">
            <a href="http://www.facebook.com/ilya.grishkevich.1" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/pub/ilya-grishkevich/17/14a/405" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:igrysh@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Illia Gryshkevych <small> Senior .NET Developer </small></h3>
          <p>
            I am Senior .NET Developer. I have over 6 years of experience in software development. I have skills in Silverlight, ASP.NET, Windows Phone, WCF and other technologies. I am always interested in new Microsoft products.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Real-time Web with ASP.NET SignalR </h4>
          <p>
             ASP.NET SignalR is a new library for ASP.NET developers that makes it incredibly simple to add real-time web functionality to your applications.
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="span12" id="Dmytro.Malyeyev">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-8.png"/>
          <div class="links">
            <!-- <a href="http://www.facebook.com/ilya.grishkevich.1" target="_blank"><i class="icon-facebook"></i></a> -->
            <!-- <a href="http://www.linkedin.com/pub/ilya-grishkevich/17/14a/405" target="_blank"><i class="icon-linkedin"></i></a> -->
            <a href="mailto:dmalyey@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Dmytro Malyeyev <small> Abiliton Technical Leader </small></h3>
          <p>
            ...
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Why to learn many languages </h4>
          <p>
             to be announced..
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12" id="Oleksandr.Reminnyi">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-9.png"/>
          <div class="links">
            <!-- <a href="http://www.facebook.com/ilya.grishkevich.1" target="_blank"><i class="icon-facebook"></i></a> -->
            <!-- <a href="http://www.linkedin.com/pub/ilya-grishkevich/17/14a/405" target="_blank"><i class="icon-linkedin"></i></a> -->
            <a href="mailto:dmalyey@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Oleksandr Reminnyi <small> .NET Developer </small></h3>
          <p>
            ...
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Automation testing can be successful </h4>
          <p>
             to be announced..
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>



    
  
    </div>



      </div>


    </div>
  </div>
