  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">


    <div class="row">
      <div class="span12" id="Borys.Korobeinikov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <!-- <a href="http://www.facebook.com/ilya.grishkevich.1" target="_blank"><i class="icon-facebook"></i></a> -->
            <!-- <a href="http://www.linkedin.com/pub/ilya-grishkevich/17/14a/405" target="_blank"><i class="icon-linkedin"></i></a> -->
            <a href="http://www.linkedin.com/in/boryskorobeinikov" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:igrysh@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Borys Korobeinikov <small> .NET Developer </small></h3>
          <p>
            Geek, Dreamer, Software engineer :)
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="/slides/<%= settings.conf %>/BorysKorobeinikov-cloud _computing_with_windows_azure.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Cloud Computing with Windows Azure </h4>
          <p>
             Platform overview<br>
             Services (Database, Caching, Storage, Virtual Machines, Media Services)
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Serhii.Seletskyi">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <a href="http://vk.com/seletskysergey"><i class="icon-external-link"></i></a>
            <a href="mailto:sselet@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Serhii Seletskyi <small> Senior Software Engineer </small></h3>
          <p>
            Senior Software Engineer at SoftServe in IT working for over 5 years, experts on enterprise projects on Microsoft technologies, lives in Lviv
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="/slides/<%= settings.conf %>/SerhiiSeletskyi-eco_system_apps.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Development of innovative cross-platform solutions </h4>
          <p>
            This presentation describes the process of creating a modern ecosystem applications using standard HTML5 and Clouds
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Serhii.Borysov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <div class="links">
            <a href="http://www.linkedin.com/in/mykytyukandriy" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:amykyt@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Andriy Mykytyuk <small> Abiliton Project Manager </small></h3>
          <p>
            Мені 11010 років. Ви, мабуть, вже здогадались, що я айтішник та жартівник. Не до кінця впевнений що з них моя професія, а що хобі. Я розпочав свою кар'єру як розробник програмного забезпечення, а зараз займаюсь проектним менеджментом. Не здивуюсь, якщо за декілька років займусь чимось іншим, бо надзвичайно люблю нові ідеї та досліджувати цей маленький та надзвичайно цікавий Світ.
            <br>
            Більшість свого часу проводжу тут: 49° 49' 55", 23° 59' 55", тому звертайтесь, буду радий поспілкуватись.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Creativity techniques </h4>
          <p>
            Уявіть собі, що ви були зменшені до розмірів 5-копійкової монети і ваша маса була пропорційно зменшена відповідно до вашої густини. Тепер вас кинули в порожню чашу блендера. Ножі почнуть рух через 60 секунд. Що ви плануєте робити?
            <br>
            Хочете дізнатись як збільшити свою продуктивність в креативному мисленні? Приходьте на pacemaker 2 березня ;)
          <p>
          <div class="label"> social </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12" id="Petro.Sasnyk">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <div class="links">
            <a href="https://www.facebook.com/stoune.ua" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/in/sasnyk" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="https://twitter.com/stoune" target="_blank"><i class="icon-twitter"></i></a>
            <a href="http://blog.sasnyk.name" target="_blank"><i class="icon-external-link"></i></a>
            <a href="mailto:psasnyk@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Petro Sasnyk  <small> Tech Lead </small></h3>
          <p>
            Man who wants to know everything. Teach Lead, husband. Technology addicted. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="/slides/<%= settings.conf %>/PetroSasnyk-tpl_data_flow.zip" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> TPL DataFlow the concurrent beast from .NET kingdom.</h4>
          <p>
            I will describe how to build highly concurrent and robust application utilizing actor-based programming techniques on .NET.
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Pavlo.Prystupa">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/>
          <div class="links">
            <a href="http://www.linkedin.com/pub/pavlo-prystupa/5/b5a/a3b" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:ppryst@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Pavlo Prystupa  <small> System Architect </small></h3>
          <p>
              Those guy from SoftServe for last 8 years. Currently holding System Architect position, pragmatic person, always looking to find interesting things and learn more.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4>  Ode To A Laziness </h4>
          <p>
            If you are constantly facing “deja vu” during your every day coding work, maybe there is something that can be changed. We will explore few techniques for enhancing your productivity by leveraging metaprogramming capabilities in .NET. 
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="span12" id="Vadim.Mateushev">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-7.png"/>
          <div class="links">
            <a href="https://www.facebook.com/vadim.mateushev" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:vmateu@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Vadim Mateushev <small>Software Engeneer</small></h3>
          <p>
            Vadim - Software Engenner <a href="http://softserve.ua">SoftServe</a>. Before IT worked 6 years in Customer Service sphere: both F2F and by phone. Has experience in people management, coaching and staff development. Lives in Dnepropetrovsk.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="http://prezi.com/_tcaxqgh3rob/present/?auth_key=ck0rosj&follow=vunj5qiw1c5-&kw=present-_tcaxqgh3rob&rc=ref-32988083" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> GoMAD </h4>
          <p>
             Make A Different Thinking
          <p>
          <div class="label"> social </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="span12" id="Dmytro.Malyeyev">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-8.png"/>
          <div class="links">
            <!-- <a href="http://www.facebook.com/ilya.grishkevich.1" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="https://twitter.com/@dimko1" target="_blank"><i class="icon-twitter"></i></a>
            <a href="http://ua.linkedin.com/in/dmaleev" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:dmalyey@softserveinc.com"><i class="icon-envelope"></i></a>
            <a href="http://maleevdimka.wordpress.com" target="_blank"><i class="icon-external-link"></i></a>
            <a href="http://gamifyua.com" target="_blank"><i class="icon-external-link"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Dmytro Malyeyev <small> Abiliton Technical Leader </small></h3>
          <p>
            Mobility Solution Manager of the SoftServe company, addicted to technologies for more than 7 years. Leader of Lviv .NET User Group, and one of the leaders of the “Oh, Mobile!” community. Speaker on different events in different countries. Fan of the funny speeches :)
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="/slides/<%= settings.conf %>/DimaMalyeyev-Learn_many_languages.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Why to learn many languages </h4>
          <p>

          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12" id="Oleksandr.Reminnyi">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-9.png"/>
          <div class="links">
            <!-- <a href="http://www.facebook.com/ilya.grishkevich.1" target="_blank"><i class="icon-facebook"></i></a> -->
            <!-- <a href="http://www.linkedin.com/pub/ilya-grishkevich/17/14a/405" target="_blank"><i class="icon-linkedin"></i></a> -->
            <a href="mailto:orem@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Oleksandr Reminnyi <small> .NET Developer </small></h3>
          <p>
            7 years in software development. 1,5 years in GUI automation testing. Credo: Many have dreams, I have plans. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Automation testing can be successful </h4>
          <p>
             We worked for a year on software automation. 
             We collected the most tasty things. 
             And I gonna share them with you.
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Arsen.Miemietov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-10.png"/>
          <div class="links">
            <a href="http://www.facebook.com/amemetov" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://vk.com/amemetov" target="_blank"><i class="icon-external-link"></i></a>
            <a href="http://www.odnoklassniki.ru/arsen.memetov" target="_blank"><i class="icon-external-link"></i></a>
            <a href="mailto:arsenmemetov@gmail.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Arsen Miemietov  <small> Java/.NET Developer </small></h3>
          <p>
            I am Java/.NET Developer. Working in IT industry over 8 years.
            Involved mainly in development of online applications.
            Currently working on a Java project related to Intellectual Property Exchange.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="/slides/<%= settings.conf %>/ArsenMiemietov-solr.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Apache Solr (open source enterprise search platform) </h4>
          <p>
             Features overview (powerful full-text search, hit highlighting, faceted search, near real-time indexing, rich document (e.g., Word, PDF) handling, and geospatial search).
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Bogdan.Grynko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-11.png"/>
          <div class="links">
            <a href="http://www.facebook.com/bogdan.grynko" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/pub/bogdan-gryn-ko/5/a6a/819" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:bhrynko@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Bogdan Grynko <small>Software Engeneer</small></h3>
          <p>
            Technical Lead at <a href="http://softserve.ua">SoftServe</a>. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="/slides/<%= settings.conf %>/BogdanGrynko-project_driving_tips.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Experience everywhere. Project driving tips. </h4>
          <p>
             The biggest non technical problems which team faced on a Calypso project.
          <p>
          <div class="label"> .NET </div>
        </div>
      </div>
    </div>
    
  
    </div>



      </div>


    </div>
  </div>
