
  <!-- About Section -->
  <div id="about" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>



    <div class='span8 speakers'>
      
      
      <h3>Speakers:</h3>


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-1-b.png"/>
          <p>
            Overview of Erlang
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Francesco_Cesarini-Overview_of_Erlang.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Francesco.Cesarini">Francesco Cesarini</a>
          </p>
      </div>


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-2-b.png"/>
          <p>
            Android REST client
          </p> 
          <p class='author'>
            <a href="https://pacemaker-iusenko.rhcloud.com/?theme=sky#/" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Ievgen.Usenko">Ievgen Usenko</a>
          </p>
      </div>



      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-3-b.png"/>
          <p>
            Multi-tenancy Implementation with Spring and JPA2
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Ruslan_Danilin-Multi_tenancy_Implementation_with_Spring_and_JPA2.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Ruslan.Danilin"> Ruslan Danilin</a>
          </p>
      </div>



      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-4-b.png"/>
          <p>
            Powerful programming with Groovy/Grails
          </p> 
          <p class='author'>
            <a href="http://prezi.com/mbs3fzs1bigu/powerful-programming-with-groovygrails/" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Dmytro.Voloshko">Dmytro Voloshko</a>
          </p>
      </div>


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-5-b.png"/>
          <p>
            Java in the world of Hacking
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Andriy_Novak-Java_in_the_world_of_Hacking.ppt" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Andriy.Novak">Andriy Novak</a>
          </p>
      </div>


     </div>


    

    <div class='span4 speakers lightning_talks'>

      <h3>Lightning talks:</h3>

      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/2-1-b.png"/>
          <p>
            TypeScript in grails application
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Dmytro_Ovcharenko-TypeScript_in_grails_application.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Dmytro.Ovcharenko">Dmytro Ovcharenko</a>
          </p>
      </div>



      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/2-2-b.png"/>
          <p>
            Why I like SOLID
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Viacheslav_Fomin-Why_I_like_SOLID.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Viacheslav.Fomin">Viacheslav Fomin</a>
          </p>
      </div>


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/2-3-b.png"/>
          <p>
            Death by PowerPoint
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Khrystyna_Paprotska-Death_by_PowerPoint.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Khrystyna.Paprotska">Khrystyna Paprotska</a>
          </p>
      </div>

    </div>







    <div class='span12 content_bottom'> 


      <% if settings.page != 'register' && settings.conferencies[settings.conf][:reg_open]%>
        <div class="span4 reg_deadline">
          <p>
            <strong> 
              Registration Deadline <br>
            </strong>
              <%= settings.conferencies[settings.conf][:reg_deadline]%> 
          </p>
        </div>
        
        <div class="span4 reg_button">
            <div class="register">
              <a href="register" class="btn btn-primary" >Register</a>
              <br>
              <small class="">&nbsp;*only for SoftServe folks</small>
            </div> 
        </div>

        
        <!-- <div class="span4 reg_covers">
          <p>
            <small>SoftServe covers transportation
            and lodging expenses</small>
          </p>
        </div> -->

      <% end %>



      <div class="span8 info_pht_vid">
        <p>
          Photos: 
          <a href="http://www.facebook.com/media/set/?set=a.368305426612422.1073741827.210154085760891&type=1"  target="_blank"> <img class="pht_vid" src="/images/ico_photos.png"></img> </a>
          Videos:
          <a href="http://www.youtube.com/watch?v=Msl09H2MbHY&list=PLxKvNsRITEtnR08jZKrm9EK-ihuIp2pZK"  target="_blank"> <img class="pht_vid" src="/images/ico_videos.png"></img></a>
        </p>
      </div> 


      <!-- <div class="span8 reg_deadline">
          <p>
            Registration is closed.
          </p>
        </div> -->
      
      <div class="span3 info_follow_us">
          <p>
            Follow us: 
            <a href="http://www.facebook.com/PacemakerJs"  target="_blank"><img src="/images/facebook.png" class="twitter"></img></a>
            <a href="https://twitter.com/#!/pacemaker_conf"  target="_blank"><img src="/images/twitter.png" class="twitter"></img></a>
            <br><br>
          </p>
      </div>

    </div>



</div>



