  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">

    <div class="row">
      <div class="span12" id="Ievgen.Usenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <a href="mailto: iusenko@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Ievgen Usenko <small> software engineer </small></h3>
          <p>
            Primary development language(s): Java  <br>
            Technologies: Android, Java EE, Spring  <br>
            Total experience: about 7 yeas  <br>
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Android REST client </h4>
          <p>
             Session will describe the best practice for developing REST client on the Android platform. We will take a look at typical issues and conceptual errors, best practices and reliable patterns.
          <p>
          <div class="label"> Java </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Ruslan.Danilin">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <a href="http://www.linkedin.com/in/ruslandanilin"><i class="icon-linkedin"></i></a>
            <a href="mailto:rdanilin@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>  Ruslan Danilin <small>   Java Technical Leader </small></h3>
          <p>
              Java Technical Leader with more than 5 years experience in software design and development. Have great expertise in SOA, SaaS, Security, clustering areas.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Multi-tenancy Implementation with Spring and JPA2 </h4>
          <p>
            Brief speech summary: In this presentation I'd like to share our experience of implementing custom multi-tenancy model with Spring and JPA2 (Hibernate).
          <p>
          <div class="label"> Java </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Dmytro.Voloshko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <div class="links">
            <a href="https://www.facebook.com/dmitry.voloshko" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:dvolosh@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Dmytro Voloshko <small>  Senior Java Engineer </small></h3>
          <p>
            I’m a Senior Java Engineer at SoftServe. I’m at IT business since 2007. I have 4 years’ experience in Java and also 1,5 years’ experience in Groovy/Grails. I have participated in the development of banking systems, development management systems, survey processing systems and other. Presently I’m participating in the development of comprehensive SaaS solution for the dental offices.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Powerful programming with Groovy/Grails </h4>
          <p>
            This session will demystify a lot of the magic that seems to be going on inside of a Groovy/Grails application. When Java developers are first introduced to Groovy one of the first things they notice is how much easier things are in Groovy compared to Java.
          <p>
          <div class="label"> Grails </div>
        </div>
      </div>
    </div>

    
    
  

      </div>


    </div>
  </div>
