  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">

    <div class="row">
      <div class="span12" id="Francesco.Cesarini">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <a href="http://twitter.com/FrancescoC" target="_blank"><i class="icon-twitter"></i></a>
            <a href="http://www.oreillynet.com/pub/au/3373"><i class="icon-external-link"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Francesco Cesarini <small> Erlang/OTP expert, Erlang Solutions </small></h3>
          <p>
            Francesco is active in the Erlang community not only through regularly talks, seminars and tutorials at conferences worldwide, but also through his involvement in international research projects. He is the co-author of Erlang Programming, a book published in 2009. With whatever time he has left over, he teaches Erlang to graduates and undergraduates at Oxford University and the IT University of Gothenburg.<br>
            London, UK
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/java-2013/Francesco_Cesarini-Overview_of_Erlang.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Overview of Erlang </h4>
          <p>
             It will be simply a talk, a presnetation on the topic of a technical overview of Erlang
          <p>
          <div class="label"> Erlang </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Ievgen.Usenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <a href="mailto: iusenko@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Ievgen Usenko <small> software engineer </small></h3>
          <p>
            Primary development language(s): Java  <br>
            Technologies: Android, Java EE, Spring  <br>
            Total experience: about 7 yeas  <br>
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://pacemaker-iusenko.rhcloud.com/?theme=sky#/" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Android REST client </h4>
          <p>
             Session will describe the best practice for developing REST client on the Android platform. We will take a look at typical issues and conceptual errors, best practices and reliable patterns.
          <p>
          <div class="label"> Java </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Ruslan.Danilin">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <div class="links">
            <a href="http://www.linkedin.com/in/ruslandanilin"><i class="icon-linkedin"></i></a>
            <a href="mailto:rdanilin@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>  Ruslan Danilin <small>   Java Technical Leader </small></h3>
          <p>
              Java Technical Leader with more than 5 years experience in software design and development. Have great expertise in SOA, SaaS, Security, clustering areas.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/java-2013/Ruslan_Danilin-Multi_tenancy_Implementation_with_Spring_and_JPA2.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Multi-tenancy Implementation with Spring and JPA2 </h4>
          <p>
            Brief speech summary: In this presentation I'd like to share our experience of implementing custom multi-tenancy model with Spring and JPA2 (Hibernate).
          <p>
          <div class="label"> Java </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Dmytro.Voloshko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <div class="links">
            <a href="https://www.facebook.com/dmitry.voloshko" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:dvolosh@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Dmytro Voloshko <small>  Senior Java Engineer </small></h3>
          <p>
            I’m a Senior Java Engineer at SoftServe. I’m at IT business since 2007. I have 4 years’ experience in Java and also 1,5 years’ experience in Groovy/Grails. I have participated in the development of banking systems, development management systems, survey processing systems and other. Presently I’m participating in the development of comprehensive SaaS solution for the dental offices.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="http://prezi.com/mbs3fzs1bigu/powerful-programming-with-groovygrails/" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Powerful programming with Groovy/Grails </h4>
          <p>
            This session will demystify a lot of the magic that seems to be going on inside of a Groovy/Grails application. When Java developers are first introduced to Groovy one of the first things they notice is how much easier things are in Groovy compared to Java.
          <p>
          <div class="label"> Grails </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Andriy.Novak">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/>
          <div class="links">
            <a href="http://www.linkedin.com/pub/andriy-novak/65/a01/257" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="http://www.facebook.com/andrew.novak.7564" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:anovak@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Andriy Novak <small>  Java Developer </small></h3>
          <p>
            I'm Java Developer at SoftServe with more than 5 years experience in IT industry.<br>
            My professional background also includes Administration/QC engineering/Automation QC engineering.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/java-2013/Andriy_Novak-Java_in_the_world_of_Hacking.ppt" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Java in the world of Hacking </h4>
          <p>
            My story is about Java state in the world of Security, how latest vulnerabilities in JVM affects end-users and even developer, about attack on Cloud and tomcat, about good and bad coding practices. All to make thinking about SECURITY little bit more.
          <p>
          <div class="label"> Java </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="span12" id="Dmytro.Ovcharenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-1.png"/>
          <div class="links">
            <a href="http://www.facebook.com/dima.ovcharenko" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:dovchar@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Dmytro Ovcharenko <small>  JavaScript Technical leader  </small></h3>
          <p>
            I have over 6 years of experience in IT industry. I have implemented more then 10 software projects of various sizes, including full application design from scratch, working on requirements analysis and specifications, issues detection, analysis and resolving, coding, testing, performance, code improvement and maintenance with producing concise technical documentation and providing technical leadership. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/java-2013/Dmytro_Ovcharenko-TypeScript_in_grails_application.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> TypeScript in grails application </h4>
          <p>
            About TypeScript plugin for grails
          <p>
          <div class="label"> TypeScript </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Viacheslav.Fomin">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-2.png"/>
          <div class="links">
            <a href="http://www.facebook.com/dima.ovcharenko" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:dovchar@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Viacheslav Fomin <small>  Java Developer  </small></h3>
          <p>
            My experience in software development is about 3 years and I’ve participated in development of different types of projects such as desktop, web and console applications, mostly based on Java related technologies. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/java-2013/Viacheslav_Fomin-Why_I_like_SOLID.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Why I like SOLID </h4>
          <p>
            I will encourage you to use solid principles and design patterns in every application you develop
          <p>
          <div class="label"> SOLID </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="span12" id="Khrystyna.Paprotska">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-3.png"/>
          <div class="links">
            <a href="http://www.linkedin.com/profile/view?id=113838006&trk=tab_pro" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="http://www.facebook.com/christina.paprotska" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:kpap@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Khrystyna Paprotska <small>  Training Coordinator  </small></h3>
          <p>
            Training Coordinator at SoftServe. I have 2 years’ experience in SoftServe and more than 8 years in NGO’s.  I’m responsible for the Internal Trainer Excellent Program for the Internal Trainer in our company. <br>
            Interests: <br>
            -          Travel <br>
            -          Trainings <br>
            -          Charity projects (St. Nicolas :) ) <br>
            -          Intercultural projects
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/java-2013/Khrystyna_Paprotska-Death_by_PowerPoint.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Death by PowerPoint </h4>
          <p>
            Visual tips for presentations. <br>
            What is a good way to share your ideas? <br>
            What doesn’t allow people to fall asleep during your presentation?
          <p>
          <div class="label"> social </div>
        </div>
      </div>
    </div>

    
    
  

      </div>


    </div>
  </div>
