<!-- Speakers Section -->
<div id="speakers" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

    <div class="promo_text speakers">

        <!-- Speaker -->

<!--
         <div class="row">
            <div class="span12" id="speaker">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/call_speakers.png"/>
                    <div class="links">
                        <a href="mailto:speaker@site.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Speaker</h3>
                    <p>
                        About speaker
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Speech topic</h4>
                    <p>
                        About speech
                    <p>
                </div>
            </div>
        </div>
-->

        <!-- / Speaker -->

        <!-- Dmytro Voloshko -->

         <div class="row">
            <div class="span12" id="dmytro.voloshko">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.jpg"/>
                    <div class="links">
                        <a href="mailto:dvolosh@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Dmytro Voloshko</h3>
                    <p>
                        Technical Leader with more than 7 years experience in Java. I've been involved in the implementation of huge Grails app for 3 years.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>

                    <div class="links">
                        <a href="https://dl.dropboxusercontent.com/u/3459328/grails-the-barrel-of-honey-fz0pwcj4-k3o.zip" target="_blank">
                            <i class="icon-download-alt"></i>
                        </a>
                    </div>

                    <h4>Grails. Barrel of honey...</h4>
                    <p>
                        Grails is one of the most flexible and most powerful frameworks on The Java Platform. Grails leverages the flexibility offered by the platform in a way that other web frameworks do not. <br>
                        The following presentation will take you from knowing nothing about Grails to implementing a full Grails application - all in a matter of minutes!
                    <p>
                </div>
            </div>
        </div>

        <!-- / Dmitry Voloshko -->

        <!-- Orest Ivasiv -->

         <div class="row">
            <div class="span12" id="orest.ivasiv">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.jpg"/>
                    <div class="links">
                        <a href="mailto:oivasiv@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Orest Ivasiv</h3>
                    <p>
                        Orest - passionate software engineer at SoftServe interested in different programming languages, pragmatic approaches and performance boost practices. Co-organizer of itbooze. Lives in Ivano-Frankivsk.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>

                    <div class="links">
                        <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/Java-2014/whencamelsmiles.pptx" target="_blank">
                            <i class="icon-download-alt"></i>
                        </a>
                    </div>

                    <h4>When Camel Smiles</h4>
                    <p>
                        This session will introduce the basics of Apache Camel. It shows how Camel it related to Enterprise Integration patterns. And how to start development quickly with Java DSL avoiding boilerplate mantra
                    <p>
                </div>
            </div>
        </div>

        <!-- / Orest Ivasiv -->

        <!-- Serhiy Yakovyn -->

         <div class="row">
            <div class="span12" id="serhiy.yakovyn">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.jpg"/>
                    <div class="links">
                        <a href="mailto:syakovyn@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Serhiy Yakovyn</h3>
                    <p>
                        TechLead at SoftServe
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>

                    <div class="links">
                        <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/Java-2014/Mule%20ESB.pptx" target="_blank">
                            <i class="icon-download-alt"></i>
                        </a>
                    </div>

                    <h4>Mule ESB: Make integretation easy</h4>
                    <p>
                        In my presentation I'm going to cover Mule ESB CE (Community Edition) features and how it can be used to qickly integrate different data providers with data consumers
                    <p>
                </div>
            </div>
        </div>

        <!-- / Serhiy Yakovyn -->

        <!-- Dmytro Sandu -->

<!--          <div class="row">
            <div class="span12" id="dmytro.sandu">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.jpg"/>
                    <div class="links">
                        <a href="mailto:dsandu@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Dmytro Sandu</h3>
                    <p>
                        Senior Software Engineer, Java
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>MapReduce and Hadoop</h4>
                    <p>
                        MapReduce - history, what and why. Hadoop - code samples and live run. Cloudera insights
                    <p>
                </div>
            </div>
        </div> -->

        <!-- / Dmytro Sandu -->

        <!-- Vadim Mikhnevych -->

         <div class="row">
            <div class="span12" id="vadim.mikhnevych">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.jpg"/>
                    <div class="links">
                        <a href="mailto:vmikh@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Vadim Mikhnevych</h3>
                    <p>
                        Team leader, 9+ years of Java experience. Has been working at Softserve since 2013.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>

                    <div class="links">
                        <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/Java-2014/spring_integration.pptx" target="_blank">
                            <i class="icon-download-alt"></i>
                        </a>
                    </div>

                    <h4>Messaging with Spring-Integration</h4>
                    <p>
                        A verbose introduction on what Spring Integration is, when, where and why use it, and some brief examples of how to do this.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Vadim Mikhnevych -->

        <!-- Bohdan Serednytskyi -->

         <div class="row">
            <div class="span12" id="bohdan.serednytskyi">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.jpg"/>
                    <div class="links">
                        <a href="mailto:bsered@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Bohdan Serednytskyi</h3>
                    <p>
                        Manual Penetration Tester at SoftServe, CEH
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>

                    <div class="links">
                        <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/Java-2014/Ready%2C%20A.I.M.%2C%20Inject!.pptx" target="_blank">
                            <i class="icon-download-alt"></i>
                        </a>
                    </div>

                    <h4>Ready, A.I.M., Inject!</h4>
                    <p>
                        Injections are #1 in OWASP TOP 10 Web Applications Security Vulnerabilities.
                        We will look inside SQL-injections, practice in it and get to know how to mitigate them.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Bohdan Serednytskyi -->

        <!-- Yurii Bilyk -->

         <div class="row">
            <div class="span12" id="yurii.bilyk">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-7.jpg"/>
                    <div class="links">
                        <a href="mailto:ybilyk@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Yurii Bilyk</h3>
                    <p>
                        Manual Penetration Tester at SoftServe
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>

                    <div class="links">
                        <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/Java-2014/poodle.pptx" target="_blank">
                            <i class="icon-download-alt"></i>
                        </a>
                    </div>

                    <h4>SSL/POODLE: History repeats itself.</h4>
                    <p>
                        Explanation of POODLE attack. Some small cryptography intro background why POODLE exists. 
                        Diving into Padding Oracle attack and examples where it could be found. 
                        How-to mitigate POODLE on the serve/client side.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Yurii Bilyk -->

        <!-- Oleksandr Lazarchuk -->

         <div class="row">
            <div class="span12" id="oleksandr.lazarchuk">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-8.jpg"/>
                    <div class="links">
                        <a href="mailto:olazarch@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Oleksandr Lazarchuk</h3>
                    <p>
                        Not programmer but developer at SoftServe. Worked my way from desktop developer to web developer. Involved in offline web application development for 3 years.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
    
                    <div class="links">
                        <a href="https://prezi.com/1mplxoibqh3m/how-mobile-app-can-save-your-life-but-not/" target="_blank">
                            <i class="icon-download-alt"></i>
                        </a>
                    </div>

                    <h4>How mobile app can save your life, but not</h4>
                    <p>
                        What kind of issue you may face if you decide to make mobile hybrid from you web application.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Oleksandr Lazarchuk -->

        <!-- Vitalii Bashun -->

         <div class="row">
            <div class="span12" id="vitalii.bashun">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-9.png"/>
                    <div class="links">
                        <a href="mailto:vbash@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Vitalii Bashun</h3>
                    <p>
                        I’m a software developer at SoftServe. I have a rich experience working with databases and related technologies for over 7 years. The primary fields of work are such as database design, data warehouses, data integration, etc. I also like working with Java and NoSQL databases.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>

                    <div class="links">
                        <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/Java-2014/Pacemaker%20ORM%20-%20V_Bashun.ppt" target="_blank">
                            <i class="icon-download-alt"></i>
                        </a>
                    </div>

                    <h4>Is ORM a Friend or an Enemy?</h4>
                    <p>
                        A few words about the best and the worst practices of ORMs using
                    <p>

                    <div class="separator" style="height: 1px; width: 100%; background: #999; box-shadow: #fff 0 1px 0; margin: 10px 0"></div>

                    <div class="links">
                        <a href="/slides/<%= settings.conf %>/Apache Hadoop and MapReduce.ppt" target="_blank">
                            <i class="icon-download-alt"></i>
                        </a>
                    </div>

                    <h4>MapReduce and Hadoop</h4>
                    <p>
                        MapReduce - history, what and why. Hadoop - code samples and live run. Cloudera insights
                    <p>                    
                </div>
            </div>
        </div>

        <!-- / Vitalii Bashun -->

    </div><!-- .promo_text speakers -->
</div><!-- #speakers -->

