<ul class="nav ribbons">
  <li class='ribbon'><a href="/js-2012"><img <%= settings.conf != 'js-2012' ? 'class="ribbon_inactive"' : '' %> src="/images/ribbon-js-2012.png"></img></a></li>
  <li class='ribbon'><a href="/java-2012"><img <%= settings.conf != 'java-2012' ? 'class="ribbon_inactive"' : '' %> src="/images/ribbon-java-2012.png"></img></a></li>
  <li class='ribbon'><a href="/lamp-2012"><img <%= settings.conf != 'lamp-2012' ? 'class="ribbon_inactive"' : '' %> src="/images/ribbon-lamp-2012.png"></img></a></li>
  <li class='ribbon'><a href="/ops-2012"><img <%= settings.conf != 'ops-2012' ? 'class="ribbon_inactive"' : '' %> src="/images/ribbon-ops-2012.png"></img></a></li>
  <li class='ribbon'><a href="/.net-2013"><img <%= settings.conf != '.net-2013' ? 'class="ribbon_inactive"' : '' %> src="/images/ribbon-.net-2013.png"></img></a></li>
  <li class='ribbon'><a href="/java-2013"><img <%= settings.conf != 'java-2013' ? 'class="ribbon_inactive"' : '' %> src="/images/ribbon-java-2013.png"></img></a></li>
  <li class='ribbon'><a href="/lamp-2013"><img <%= settings.conf != 'lamp-2013' ? 'class="ribbon_inactive"' : '' %> src="/images/ribbon-lamp-2013.png"></img></a></li>
  <li class='ribbon'><a href="/data-2013"><img <%= settings.conf != 'data-2013' ? 'class="ribbon_inactive"' : '' %> src="/images/ribbon-data-2013.png"></img></a></li>
  <li class='ribbon'><a href="/cloud-2013"><img <%= settings.conf != 'cloud-2013' ? 
'class="ribbon_inactive"' : '' %> src="/images/ribbon-cloud-2013.png"></img></a></li>
<li class='ribbon'><a href="/mobility-2014"><img <%= settings.conf != 'mobility-2014' ? 'class="ribbon_inactive"' : '' %> src="/images/ribbon-mobility-2014.png"></img></a></li>
<li class='ribbon'><a href="/WebUI-2014"><img <%= settings.conf != 'WebUI-2014' ? 'class="ribbon_inactive"' : '' %> src="/images/ribbon-WebUi-2014.png"></img></a></li>
</ul>
