<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">  
    <meta name="description" content="<%= settings.conferencies[settings.conf][:title] %>" />
    <meta name="keywords" content="pacemaker, conference, java, js, ruby, node.js, sencha touch, ext.js, html, css, web-ui" />
    <meta name="author" content="Alex Mekhovov">
     <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  
  <title><%= settings.conferencies[settings.conf][:title] %></title>
  
  <!-- Styles -->
  <link rel="stylesheet" href="/css/bootstrap-responsive.css?v2.0" />
  <link rel="stylesheet" href="/css/bootstrap.css?v2.0" />
  <link rel="stylesheet" href="/css/trillsy.css?v1.0" />
  <link rel="stylesheet" href="/css/adipoli.css?v1.0" />
  <link rel="stylesheet" href="/css/slider.css?v2.0" />
  <link rel="stylesheet" href="/css/web.css?v1.1" />
  <link rel="stylesheet" href="/css/font-awesome.css?v2.0" />
  <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css?v2.10" />

  <!-- js files -->
  <script src="/js/jquery.min.js?v1.0"></script>
  <script src="/js/bootstrap-scrollspy.js?v1.0"></script>
  <script src="/js/bootstrap-tab.js?v1.0"></script>
  <script src="/js/jquery.bxSlider.js?v1.0" type="text/javascript"></script>
  <script src="/js/jquery.adipoli.js?v1.0"></script>
  <script src="/js/jquery.timeago.js?v1.0"></script>
  <script type="text/javascript" src="/js/modernizr.custom.28468.js?v1.0"></script>
  <script type="text/javascript" src="/js/jquery.cslider.js?v1.0"></script>
  <script src="/js/visibility.js?v1.0"></script>
  <script src="/js/site.js?v1.0"></script>
  <noscript>
    <link rel="stylesheet" type="text/css" href="/css/nojs.css?v1.0" />
  </noscript>

</head>

<body id="posts" class="index" data-spy="scroll"> 
  
<div class="trillsy navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!-- RIBBON -->
      <%= erb :_ribbon  %>
      
      <!-- <ul class="nav">
        <li><div class="ss_logo"><a href="/"><%= settings.conferencies[settings.conf][:title] %></a></div></li>
        <li><h1 class="ss_logo"><%= settings.conferencies[settings.conf][:title] %></h1></li>
      </ul> -->

      <!-- <ul class="nav pull-right">
        <li><a href="https://twitter.com/#!/pacemaker_conf"  target="_blank"><img src="/images/twitter.png" class="twitter"></img></a></li>
        <li><a href="http://www.facebook.com/PacemakerJs"  target="_blank"><img src="/images/facebook.png" class="twitter"></img></a></li>
      </ul> -->
    </div>
  </div>
  <div class="wrapper"></div>

</div>
  
<div id="content" class="container">

  <!-- HEADER -->
  <%#= erb :"#{settings.conf}/_header"  %>

  <!-- MENU -->
  <%= erb :_menu  %>
  <!-- PAGE -->
  <%= yield %>
</div>

<!-- FOOTER -->
<%= erb :_footer  %>
<!-- GA -->
<%= erb :_ga  %>

</body>
</html>