
  <!-- About Section -->
  <div id="about" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>



    <div class='span8 speakers'>
      
      <h3>Speakers:</h3>

      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-1-b.png"/>
          <p>
            One Click to Clouds. Cloudify.
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Serhii.Borysov">Serhii Borysov</a>
          </p>
      </div>
      
      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-3-b.png"/>
          <p>
            OpenStack is Key to a Hybrid World.
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Andrii.Demianenko">Andrii Demianenko</a>
          </p>
      </div>
      
<!--       <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-5-b.png"/>
          <p>
            Case Study: Amazon RedShift as DWH & JasperReports Server as reporting frontend.
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
<!--             <a href="speakers#Mikhail.Gaponov">Mikhail Gaponov</a>
          </p>
      </div> -->
      
       <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-6-b.png"/>
          <p>
            Virtual Machine Introspection - future of the Cloud.
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Nazar.Tymoshyk">Nazar Tymoshyk</a>
          </p>
      </div>
      
          <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-2-b.png"/>
          <p>
            Cloud Issues and Challenges.
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Anton.Pogoryelyi">Anton Pogoryelyi</a>
          </p>
      </div>
      
             <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-4-b.png"/>
          <p>
            Amazon Web Services OpsWorks. State of the affairs.
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Petro.Sasnyk">Petro Sasnyk</a>
          </p>
      </div>

<div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/call_speakers.png"/>
          <p>
            We are looking for cool speakers
          </p> 
          <br>
          <p class='author'>
            <a href="http://www.123contactform.com/form-726567/PacemakerCloud-2013-Registration" target="blank">Perhaps You?</a>
          </p>
      </div>

     </div>



    

    <div class='span4 speakers lightning_talks'>

     <h3>Lightning talks:</h3>

 
      
                 <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-4-b.png"/>
          <p>
            To lock-in or not to lock-in.
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Petro.Sasnyk">Petro Sasnyk</a>
          </p>
      </div>

    </div>







    <div class='span12 content_bottom'> 


      <% if settings.page != 'register' && settings.conferencies[settings.conf][:reg_open]%>
        <div class="span4 reg_deadline">
          <p>
            <strong> 
              Registration Deadline <br>
            </strong>
              <%= settings.conferencies[settings.conf][:reg_deadline]%> 
          </p>
        </div>
        
        <div class="span4 reg_button">
            <div class="register">
              <a href="http://www.123contactform.com/form-726567/PacemakerCloud-2013-Registration" class="btn btn-primary" >Register</a>
              <br>
              <small class="">&nbsp;*only for SoftServe folks</small>
            </div> 
        </div>

        
        <!-- <div class="span4 reg_covers">
          <p>
            <small>SoftServe covers transportation
            and lodging expenses</small>
          </p>
        </div> -->

      <% end %>



      <!--div class="span8 info_pht_vid">
        <p>
          Photos: 
          <a href="https://www.facebook.com/media/set/?set=a.436627696446861.1073741829.210154085760891&type=1"  target="_blank"> <img class="pht_vid" src="/images/ico_photos.png"></img> </a>
          Videos:
          <a href="http://www.youtube.com/watch?v=Edrqb3akiMo&feature=share&list=PLxKvNsRITEtmGAK-DUzcAwLUXWw2lGFSj"  target="_blank"> <img class="pht_vid" src="/images/ico_videos.png"></img></a>
        </p>
      </div--> 


      <!-- <div class="span8 reg_deadline">
          <p>
            Registration is closed.
          </p>
        </div> -->
      
      <div class="span3 info_follow_us">
          <p>
            Follow us: 
            <a href="https://twitter.com/#!/pacemaker_conf"  target="_blank"><img src="/images/twitter.png" class="twitter"></img></a>
            <a href="http://www.facebook.com/PacemakerJs"  target="_blank"><img src="/images/facebook.png" class="twitter"></img></a>
            <br><br>
          </p>
      </div>

    </div>



</div>


