  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">


    <div class="row">
      <div class="span12" id="Serhii.Borysov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:sborysov@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Serhii Borysov <small>    </small></h3>
          <p>
            Certified AWS Solutions Architect at <a href="http://softserve.ua">SoftServe</a>. Cloud platforms adept. Lives in Amazon Cloud.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> One Click to Clouds. Cloudify. </h4>
          <p>
            Cloud aggregation services on Cloudify example.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>

    
    
       <div class="row">
      <div class="span12" id="Anton.Pogoryelyi">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:apogor@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Anton Pogoryelyi <small>    </small></h3>
          <p>
            DevOps TechLead at <a href="http://softserve.ua">SoftServe</a>. Over 10 years of IT experience, certified Microsoft, Cisco and Linux professional.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Cloud Issues and Challenges </h4>
          <p>
            Cloud computing is very flexible, but it contains a lot of hidden points. Your architecture should be ready to cloud. I want to share our experience in taking care about cloud issues and challenges we faced using AWS since 2008.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
    
    
    <div class="row">
      <div class="span12" id="Andrii.Demianenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:ademian@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Andrii Demianenko <small>    </small></h3>
          <p>
            Operation OpenStack Wizard.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> OpenStack is Key to a Hybrid World. </h4>
          <p>
            OpenStack platform overview. Most significant benefits. Hints and tricks.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
    
    
       <div class="row">
      <div class="span12" id="Petro.Sasnyk">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <div class="links">
            <a href="https://www.facebook.com/stoune.ua" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/in/sasnyk" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="https://twitter.com/stoune" target="_blank"><i class="icon-twitter"></i></a>
            <a href="http://blog.sasnyk.name" target="_blank"><i class="icon-external-link"></i></a>
            <a href="mailto:psasnyk@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Petro Sasnyk  <small> Tech Lead </small></h3>
          <p>
            Man who wants to know everything. Teach Lead, husband. Technology addicted. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/Petro_Sasnyk-Amazon_OpsWorks_Deployment_with_ease.pptx" target="_blank"><i class="icon-download-alt"></i></a>  -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> To lock-in or not to lock-in.</h4>
          <p>
            How and when to avoid vendor lock-in and describe popular alternatives to Amazon Web Services specific services, pros and cons of using different approaches.
Sometimes we thoughtlessly selecting some services without thinking about implications, lets talk about this.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
    
    
       <div class="row">
      <div class="span12" id="Nazar.Tymoshyk">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.png"/>
          <div class="links">
            <a href="mailto:ntymosh@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Nazar Tymoshyk </h3>
          <p>
             Security researcher, Certified Ethical Hacker, Ph.D.
In love with Security, Mountains, Ukraine, Paragliding, Rock climbing and bride.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/Petro_Sasnyk-Amazon_OpsWorks_Deployment_with_ease.pptx" target="_blank"><i class="icon-download-alt"></i></a>  -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Virtual Machine Introspection - future of the Cloud.</h4>
          <p>
            My speech will be about Virtual Machine Introspection - new highly demanded technology that is changing existing cloud and security management approaches. I shall make demonstration of working prototype, describe how NSA can extract data from Amazon instances, how this technology can be helpful for security companies to catch hackers and show newest malware samples.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
    
    
      <div class="row">
      <div class="span12" id="Petro.Sasnyk">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <div class="links">
            <a href="https://www.facebook.com/stoune.ua" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/in/sasnyk" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="https://twitter.com/stoune" target="_blank"><i class="icon-twitter"></i></a>
            <a href="http://blog.sasnyk.name" target="_blank"><i class="icon-external-link"></i></a>
            <a href="mailto:psasnyk@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Petro Sasnyk  <small> Tech Lead </small></h3>
          <p>
            Man who wants to know everything. Teach Lead, husband. Technology addicted. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/Petro_Sasnyk-Amazon_OpsWorks_Deployment_with_ease.pptx" target="_blank"><i class="icon-download-alt"></i></a>  -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Amazon Web Services OpsWorks. State of the affairs.</h4>
          <p>
            Automate your application full lifecycle with AWS OpsWorks.<br>
            Learn how to provision AWS resources, configure them, deploy your application and monitor their health.<br>
            Presentation will be supplemented with real-world practical example.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
    
    
  
    </div>
    




      </div>


    </div>
  </div>
