<!-- About Section -->
<div id="about" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

    <div class='span8 speakers'>

        <h3>Speakers:</h3>

        <div class="span4">
            <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-2-b.png"/>
            <p>Continuous Delivery to Microsoft Azure Cloud Platform by Using Visual Studio Online.</p>
            <p class='author'>
                <a href="speakers#serhii.borysov">Serhii Borysov</a>
            </p>
        </div>

        <div class="span4">
            <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-4-b.png"/>
            <p>Nuget &mdash; managing binary artifacts with breeze.</p>
            <p class='author'>
                <a href="speakers#petro.sasnyk">Petro Sasnyk</a>
            </p>
        </div>

        <div class="span4">
            <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/call_speakers.png"/>
            <p>&mdash;</p>
            <p class='author'>
                <a href="speakers#dmytro.bibikov">Dmytro Bibikov</a>
            </p>
        </div>

        <div class="span4">
            <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/call_speakers.png"/>
            <p>&mdash;</p>
            <p class='author'>
                <a href="speakers#alina.marusyk">Alina Marusyk</a>
            </p>
        </div>

    </div>

    <div class='span4 speakers lightning_talks'>

        <h3>Lightning talks:</h3>

        <div class="span4">
            <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-1-b.jpg"/>
            <p>Legacy .NET solutions upgrade - Short story about one project</p>
            <p class='author'>
                <a href="speakers#oleksandr.valetsky">Oleksandr Valetsky</a>
            </p>
        </div>

        <div class="span4">
            <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-3-b.jpg"/>
            <p>Integration with MS Office: anger management</p>
            <p class='author'>
                <a href="speakers#volodymyr.morozov">Volodymyr Morozov</a>
            </p>
        </div>

    </div><!-- .lightning_talks -->

    <div class='span12 content_bottom'> 


        <% if settings.page != 'register' && settings.conferencies[settings.conf][:reg_open]%>
            <div class="span4 reg_deadline">
                <p>
                <strong>Registration Deadline<br></strong>
                <%= settings.conferencies[settings.conf][:reg_deadline]%> 
                </p>
            </div>

            <div class="span4 reg_button">
                <div class="register">
                    <a href="http://www.123contactform.com/form-999060/PacemakerNet-2014-Call-For-Speakers"
                       class="btn btn-primary"
                       style="font-size:1.8em; margin: 0 auto"
                       >Call for speakers</a><br><br>
                </div>
                <div class="register">
                    <a href="http://www.123contactform.com/form-1094773/PacemakerNet-2014-Registration" class="btn btn-primary">Register</a>
                    <br>
                    <small class="">&nbsp;*only for SoftServe folks</small>
                </div> 
            </div>

        <% end %> 

        <div class="span3 info_follow_us">
            <p>
                Follow us:
                <a href="https://twitter.com/sspacemaker"  target="_blank"><img src="/images/twitter.png" class="twitter"></img></a>
                <a href="https://www.facebook.com/events/547823592030890/"  target="_blank"><img src="/images/facebook.png" class="twitter"></img></a>
                <br><br>
            </p>
        </div>

    </div>
</div>
