<!-- Speakers Section -->
<div id="speakers" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

    <div class="promo_text speakers">

        <!-- Speaker -->

<!--
         <div class="row">
            <div class="span12" id="speaker">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/call_speakers.png"/>
                    <div class="links">
                        <a href="mailto:speaker@site.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Speaker</h3>
                    <p>
                        About speaker
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Speech topic</h4>
                    <p>
                        About speech
                    <p>
                </div>
            </div>
        </div>
-->

        <!-- / Speaker -->

        <!-- Serhii Borysov -->

        <div class="row">
            <div class="span12" id="serhii.borysov">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
                    <div class="links">
                        <a href="mailto:sborysov@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Serhii Borysov</h3>
                    <p>
                        Certified AWS Solutions Architect at <a href="http://softserve.ua">SoftServe</a>. Cloud platforms adept. Lives in Amazon Cloud.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Continuous Delivery to Microsoft Azure Cloud Platform by Using Visual Studio Online.</h4>
                    <p>
                        Speech description
                    <p>
                </div>
            </div>
        </div>

        <!-- / Serhii Borysov -->

        <!-- Oleksandr Valetsky -->

        <div class="row">
            <div class="span12" id="oleksandr.valetsky">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.jpg"/>
                    <div class="links">
                        <a href="mailto:ovalet@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Oleksandr Valetsky</h3>
                    <p>
                        I have over 5 years of experience of development using Microsoft .NET 
                        technology stack and really like the infrastructure and ecosystem it 
                        provides. <br> I’m focused on solving various problems that introduce real 
                        challenges in the field of software engineering.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Legacy .NET solutions upgrade - Short story about one project</h4>
                    <p>
                        I will be sharing my own experience about recently implemented huge legacy 
                        enterprise .NET solutions platform upgrade.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Oleksandr Valetsky -->

        <!-- Volodymyr Morozov -->

         <div class="row">
            <div class="span12" id="volodymyr.morozov">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.jpg"/>
                    <div class="links">
                        <a href="mailto:vmorozov@softserveinc.com">
                            <i class="icon-envelope"></i>
                        </a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Volodymyr Morozov</h3>
                    <p>
                        .Net Software Engineer who works with MS Office API for 1,5 years.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Integration with MS Office: anger management</h4>
                    <p>
                        Issues you can face while implementing integration with MS Office.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Volodymyr Morozov -->

        <!-- Petro Sasnyk -->

         <div class="row">
            <div class="span12" id="petro.sasnyk">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
                    <div class="links">
                        <a href="mailto:psasnyk@softserveinc.com">
                            <i class="icon-envelope"></i>
                        </a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Petro Sasnyk</h3>
                    <p>
                        Seasoned software architect and team lead. Firm and pragmatic. Curiosity is my largest sin.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Nuget &mdash; managing binary artifacts with breeze.</h4>
                    <p>
                        Managing complexity of medium and large size projects. Decreasing dependencies and simplifying build complexity. Nuget usage patterns and practices.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Petro Sasnyk -->

        <!-- Dmytro Bibikov  -->

         <div class="row">
            <div class="span12" id="dmytro.bibikov">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/call_speakers.png"/>
                    <div class="links">
                        <a href="mailto:dbibik@softserveinc.com">
                            <i class="icon-envelope"></i>
                        </a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Dmytro Bibikov </h3>
                    <p>
                        Details coming soon
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Speech topic</h4>
                    <p>
                        Details coming soon
                    <p>
                </div>
            </div>
        </div>

        <!-- / Dmytro Bibikov -->

        <!-- Alina Marusyk  -->

         <div class="row">
            <div class="span12" id="alina.marusyk">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/call_speakers.png"/>
                    <div class="links">
                        <a href="mailto:amarusyk@softserveinc.com">
                            <i class="icon-envelope"></i>
                        </a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Alina Marusyk</h3>
                    <p>
                        Details coming soon
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Speech topic</h4>
                    <p>
                        Details coming soon
                    <p>
                </div>
            </div>
        </div>

        <!-- / Alina Marusyk -->

    </div><!-- .promo_text speakers -->
</div><!-- #speakers -->

