
	<!-- Report Section -->
	<div id="report" class="content_wrap">

		<%= erb :"#{settings.conf}/_header" %>

	<div class="promo_text speakers report">
			<div class="span8">
		      <h1> Report <small>перша мультиофісна конференція!</small></h1>

		      <br>
		      <div class="span4">
		      	&nbsp;
		      </div>
		      <div class="span3">
			      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-comment"></i> Про це говорили...</h4>
			      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-asterisk"></i>  Про це мріяли...</h4>
			      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-star"></i> Це передбачали... </h4>
		    	  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-ok"></i> Нарешті це сталося!</h4>
		    	  <br>
		      </div>

		       <p>
		       		<img class="thumbnail" src="/images/js-2012/report/01.png"/>
		       </p>
		       <p>
		       		Зібравшись разом лідери SDO на чолі з Сашою Барановим (Competence Manager) та ініціативна група під керівництвом Діми Овчаренка (Software Engineer) вирішили діяти! 
		       </p>
		       <p>
		       		7 квітня 2012 року: <b>5</b> міст, <b>10</b> офісів, <b>70+</b> людей  зібралися на неймовірну подію!
		       </p>
		       <p>
		       		“<strong>Pacemaker JavaScript Conference</strong> – це перша конференція такого масштабу у SoftServe організована розробниками для розробників. Саме тут кожен девелопер має можливість познайомитися і поспілкуватися вживу зі своїми колегами з різних офісів компанії, поділитися власним досвідом та отримати корисні поради, що допоможуть в роботі”, – пояснює Олександр Баранов.
		       </p>
		       <p>
		       		І це було грандіозно!Після анонсу конференції кількість зареєстрованих, за кілька днів, перевищила ліміт приміщення.  Нам одразу стало зрозуміло, що цілі конференції – обмін досвідом, специфіка проекту, знайомство,сервівці “зацінили”.
		       </p>
		       <p>
		       		Pacemaker, у перекладі з англійської, це той, хто задає ритм. Назва конференції символізує рух вперед, прагнення до пізнання нового, жага до знань.Символом конференції став Флешмен - невтомний, веселий супергерой, який  прагне  бути на хвилі нових технологій у нашому динамічному IT- світі!  
		       </p>
		       <p>
		       		<img class="thumbnail" src="/images/js-2012/report/03.png"/>
		       </p>
		       <p>
		       		Першою главою у  літописі Pacemaker Conference став  <b>WebUI</b> напрям.
		       </p>
		       <p>
		       		Теплого квітневого дня, у новому, щойно відкритому офісі Dnipro 2, зібралися  учасники зі Львова, Чернівців, Рівного, Севастополя і, звісно, Дніпропетровська. 
		       </p>
		       <p>
		       		Більше 10 годин виступів, спілкувань за кавою у коридорах офісу та кімнатах відпочинку пролетіли  зовсім непомітно, настільки цікаво було. Впродовж години учасники заповнили зал, довгоочікуваний <b>Pacemaker</b> стартував!
		       </p>
		       <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/04.jpg"/>
		       </p>
		       <p>
		       		Конференцію  натхненним спічем відкрили Саша Баранов та Діма Овчаренко.
		       </p>
		       <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/06.jpg"/>
		       	</p>
		       <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/07.jpg"/>
		       </p>
		       <p>
		       		<img class="span2 thumbnail logo_report" src="/images/js-2012/report/08.png"/> Першим виступав <strong> <a href="speakers#Alex.Mekhovov">Олександр Меховов</a></strong> (Software Engineer, SoftServe), який представив свою доповідь під тизерною назвою “<strong><a href="http://sinatra.pp.ua"> Sinatra: Sing with me this ditty</a></strong>”. Саша доступно та цікаво розповів, що таке Sinatra, чому і коли її варто використовувати, як легко і швидко підняти та задеплоїти сайт, використовуючи цей фреймворк. Також Саша показав, як з легкістю підключити до аплікації різноманітні модулі та бібліотеки на прикладі ORM, NoSQL, Twitter API, Authentication system. Весь його виступ був переповнений дотепним гумором та несподіваними сюрпризами у вигляді фотографії аудиторії зробленої за кілька хвилин до початку виступу і хард-рок кліпу в QA сесії.   Виступ Саші був живим, креативним і запальним, як доза кофеїну. Словом, те, що потрібно суботнього ранку. 
		       </p>
		       <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/09.jpg"/>
		       </p>
		       <p>
		       		Всі прокинулися, темп заданий...
		       </p>
		       <p>
		       		<img class="span2 thumbnail logo_report" src="/images/js-2012/report/10.png"/> Київський гість, <strong> <a href="speakers#Yura.Bogdanov">Юра Богданов</a></strong> (співзасновник Tactoom.com), розповів про <strong><a href="/slides/<%= settings.conf %>/Yura_Bogdanov-nodejs_inside_tactoom.ppt">використання Node JS на прикладі проекту tactoom.com</a></strong>, зробивши акцент на проблемах, з якими зіткнулися розробники проекту. Крім того, він порадив, де краще використовувати цей фреймворк. Виступ був цікавим і розвіяв міфи про те що node.js - панацея від усіх бід. Використання технології в реальному проекті, багатий досвід та пошук рішень у безвихідних, на перший погляд, ситуаціях - все це стало запорукою класного виступу і різнобічного розкриття теми. Тема викликала безліч запитань, Юра так захопився, що показав кілька слайдів з майбутньої конференції DevConf для наочності прикладів. Слухачі були задоволеними.   
		       </p>
		       <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/11.jpg"/>
		       </p>
		       <p>
		       		<img class="span2 thumbnail logo_report" src="/images/js-2012/report/12.png"/> Після короткої кави-перерви <strong> <a href="speakers#Veronika.Dudnik">Вероніка Дудник</a></strong> (Software Engineer, SoftServe) почала свою презентацію “<strong><a href="http://hsps-project-sencha-touch.heroku.com">HSPS project: Sencha touch 1.0 in motion</a></strong>” з розповіді про своє SBU – B-Pro і клієнта, з яким працює її команда - Henry Shine Practice Solution. Основною темою її доповіді став фреймворк Sencha Touch, що використовується на проекті, його переваги та недоліки, а також про структуру самого проекту.
		       </p>
		        <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/13.jpg"/>
		       </p>
		       <p>
		       		Всім знайоме питання "А що у тебе за проект?", після якого люди зазвичай пускаються в довгі роз'яснення, що, як, з ким і як давно вони розробляють….
		       </p>
		       <p>
		       		А  як щодо того, щоб розповісти про свій проект і його особливості за 10 хвилин? Щоб прояснити  ці та інші “чорні плями” з професійного життя IT-шників,  було організовано   Star Minute. На Star Minute кожен охочий, попередньо зареєструвавшись, міг коротко розповісти про себе, а також просвітити інших ,над яким проектом він  працює.
		       </p>
		       <p>
		       		60 зоряних хвилин на небосхилі конференції запалили:
		       		<ul>
		       			<li> Дмитро Овчаренко (Software Engineer, Дніпропетровськ) </li>
		       			<li> Дмитро Немога (Software Engineer, Дніпропетровськ) </li>
		       			<li> Андрій Захарко (Software Engineer,Львів) </li>
		       			<li> Вадим Федоров (Technical Leader, Севастополь) </li>
		       			<li> Сергій Мельник (Software Engineer,Севастополь) </li>
		       			<li> Михайло Гапонов (Software Engineer,Севастополь) </li>
		       		</ul>
		       </p>
		       <p>
		       		Після продуктивної першої частини дня, учасники вирушили на обід. Після смачного обіду в очікуванні наступної доповіді, київські хлопці вчили усіх охочих грати в Сокс. У довгих коридорах офісу, в їдальні і кімнатах відпочинку можна було застати дискутуючи групи людей. Охочі подихати свіжим весняним повітрям прогулювалися в найближчих околицях офісу, а гості втомлені з дороги могли подрімати, накопичуючи сили перед виступом.
		       </p>
		        <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/17.jpg"/>
		       </p>
		        <p>
		       		<img class="span2 thumbnail logo_report" src="/images/js-2012/report/18.png"/> Чернівецькі колеги <strong> <a href="speakers#Anton.Bodnar">Антон Боднар</a></strong> (Software Engineer, SoftServe ) та <strong> <a href="speakers#Sergii.Kifiak">Сергій Кіф'як</a></strong> (Software Engineer, SoftServe) розповіли про свій <strong><a href="/slides/<%= settings.conf %>/Sergii_Kifiar_and_Anton Bodnar-mobile_web_application_case_study.pptx">мобільний проект WGen, який орієнтований для оцінювання дітей молодших класів</a></strong>. Для його реалізації вони використовували бібліотеку Backbone та HTML5.
		       </p>
		       <br><br><br>
		        <p>
		       		<img class="span2 thumbnail logo_report" src="/images/js-2012/report/19.png"/> <strong> <a href="speakers#Vladimir.Vorobyov">Володимир Воробйов</a></strong> (Software Engineer, Ciklum) розповів про важливість тестування коду. Він поставив запитання: "хто пише тести на свій код" - ліс рук не змусив себе довго чекати. Однак, після невеликого коректування: "хто реально пише тести на свій код", рук стало значно менше, що сигналізувало про актуальність теми тестування. Володя показав, <strong><a href="/slides/<%= settings.conf %>/Vladimir_Vorobyov-how_to_test_js_with_jasmine.pdf">як протестувати JavaScript за допомогою Jasmine</a></strong> на прикладі jQuery плагіна.
		       </p>
		       <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/16.jpg"/>
		       </p>
		        <p>
		       		<img class="span2 thumbnail logo_report" src="/images/js-2012/report/20.png"/>  <strong> <a href="speakers#Volodymyr.Pavlyuk">Володимир Павлюк</a></strong> (Technical Leader, SoftServe)  з <strong> <a href="speakers#Dima.Tarasenko">Дімою Тарасенко</a></strong> (Software Engineer, SoftServe) зі Львова підготували спільну доповідь про те, <strong><a href="/slides/<%= settings.conf %>/Volodymyr_Pavlyuk-js_application_architecture_part_1_theory.pptx">як писати великі і розширювані проекти на Javascript</a></strong> та поділилися своїм баченням зі  застосування Javascript фреймворку ExtJS на проекті. Виступ Володі був інтригуючим, слайд за слайдом, крок за кроком він підводив нас до фіналу… Це був справжній трилер - і розв'язка була в кращих традиціях - з вибухами, спецефектами і  хеппі-ендом в кінці! 
		       </p>
		       <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/21.jpg"/>
		       </p>
		        <p>
		       		<img class="span2 thumbnail logo_report" src="/images/js-2012/report/20.png"/> Логічним продовженням став виступ  <strong> <a href="speakers#Dima.Tarasenko">Діми Тарасенко</a></strong>. Його можна охарактеризувати, як документальна хронологія першої частини фільму. Досить <strong><a href="/slides/<%= settings.conf %>/Dima_Tarasenko-scalable_js_applications_part_2_practice_and_samples.pptx">практичний виступ з великою кількістю коду</a></strong> на слайдах був розбавлений позитивною енергетикою Діми. Було цікаво, запально й корисно.
		       </p>
		       <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/22.jpg"/>
		       </p>
		        <p>
		       		Після насиченого дня, всі змогли розслабитися на піца-паті і прогулятися вечірнім Дніпропетровськом, випити чайку, покурити кальян та познайомитися і завести нових друзів. А вже наступного дня львівські хлопці тестували дніпровські дороги, катаючись на роликах…
		       </p>
		        <p>
		       		Друзі, нова конференція не за горами! 
		       	</p>
		        <p>
		       		<span class="label label-important">DB</span> <span class="label label-info">.Net</span> <span class="label label-info">Java</span> <span class="label label-success">Ruby</span> <span class="label label">QA</span> etc. – все   це та багато іншого цікавого, чекає на Вас попереду. Нові міста, нові офіси, нові спікери з SoftServe та запрошені зірки своїх технологій - все це Ви зможете побачити, почути та відчути тільки на PACEMAKER Сonference!
		       </p>
		        <p>
		       		Кожен може стати частиною історії, варто тільки написати про своє бажання виступити <strong>Олександру Баранову</strong> на скриньку: <a href="mailto:obaranov@softserveinc.com"><i class="icon-envelope"></i> obaranov@softserveinc.com</a>   
		       </p>
		        <p>
		       		Якщо Ви маєте ідею або бажання створити конференціїю у своєму офісі - відправляйте лист на SDO team!
		       </p>
		        <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/23.jpg"/>
		       </p>
		        <p>
		       		<img class="thumbnail photo photo_report" src="/images/js-2012/report/24.jpg"/>
		       </p>
		       
		        <div class="span6">
		       <hr>
		       <p>
		       		<strong>Автори:</strong> Сабіна Крупко, <em>HR Department</em> та Олександр Меховов, <em>JetLab<em>
		       </p>
		        </div>

		    </div>
		    

	   
	</div>

	
