  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">


    <div class="row">
      <div class="span12" id="Yura.Bogdanov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <a href="http://about.me/bogdanov"><i class="icon-external-link"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Yura Bogdanov <small>Engineer</small></h3>
          <p>
            Yura - Engineer and co-founder <a href="http://tactoom.com">Tactoom.com</a>. Lives in Kyiv.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/js-2012/Yura_Bogdanov-nodejs_inside_tactoom.ppt" target="_blank"><i class="icon-download-alt"></i></a>
            <a href="http://www.youtube.com/watch?v=aAdOtyrmD8A&feature=share&list=PL05CD8F236BAB68BA"  target="_blank"><i class="icon-film"></i></a>
          </div>
          <h4>NodeJS: Inside Tactoom.com</h4>
          <p>
            Intro. Node.js - about technology and its features. Scaling NodeJS. Redis. MongoDB. Deployment.
          <p>
          <div class="label">node.js</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12" id="Vladimir.Vorobyov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <a href="http://www.facebook.com/vladimir.vorobyov"><i class="icon-facebook"></i></a>
            <a href="mailto:sparrowpublic@gmail.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Vladimir Vorobyov <small>Ruby Developer</small></h3>
          <p>
            Vladimir -  Co Founder, Ruby developer, TeamLeader <a href="http://rubygarage.org">RubyGarage</a>. Lives in Dnipro.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/js-2012/Vladimir_Vorobyov-how_to_test_js_with_jasmine.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <a href="http://www.youtube.com/watch?v=vBzjhgx-ChE&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film"></i></a>
          </div>
          <h4>How to test JavaScript with Jasmine</h4>
          <p>
            Jasmine basics. Backbone testing.
          <p>
          <div class="label">JS</div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Veronika.Dudnik">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.jpg"/>
          <div class="links">
            <a href="https://www.facebook.com/veronika.dudnik" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:vdudnyk@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Veronika Dudnik <small>Web Developer</small></h3>
          <p>
            Veronika - Web Developer at <a href="http://softserve.ua">SoftServe</a>. Lives in Dnipro.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="http://hsps-project-sencha-touch.heroku.com" target="_blank"><i class="icon-download-alt"></i></a>
            <a href="http://www.youtube.com/watch?v=N9cWU4zSQY8&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film"></i></a>
          </div>
          <h4>HSPS project: Sencha touch</h4>
          <p>
            Welcome to B-Pro. On the intersection of several roads. What is Sencha touch. Sencha touch in our motion. Advantages. Nobody is perfect. Review our project.
          <p>
          <div class="label">JS</div>
        </div>
      </div>
    </div>


     <div class="row">
      <div class="span12" id="Alex Mekhovov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.jpg"/>
          <div class="links">
            <a href="http://about.me/mekhovov" target="_blank"><i class="icon-external-link"></i></a>
            <a href="https://twitter.com/mekhovov" target="_blank"><i class="icon-twitter"></i></a>
            <a href="https://www.facebook.com/mekhovov" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:omekh@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Alex Mekhovov <small>Ruby on Rails Developer</small></h3>
          <p>
            Alex - Ruby on Rails Developer at <a href="http://softserve.ua">SoftServe</a>. Drive Ruby Courses in <a href="http://softserve.ua/en/university/it-academy" target="_blank">SoftServe IT Academy</a>. Involved in creating and growing <a href="http://www.facebook.com/RailsWay" target="_blank">Ruby Community</a> in Ukraine. Lives in Dnipro.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="http://sinatra.pp.ua" target="_blank"><i class="icon-download-alt"></i></a>
            <a href="http://www.youtube.com/watch?v=b_hD2zyjaRE&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film"></i></a>
          </div>
          <h4>Sinatra: Sing with me this ditty</h4>
          <p>
            What is Sinatra? Site: up and running. Deploy - in a minutes. DB - just use it. Sinatra: more.
          <p>
          <div class="label">Ruby</div>
        </div>
      </div>
    </div>


     <div class="row">
      <div class="span12" id="Volodymyr.Pavlyuk">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/>
          <div class="links">
            <a href="https://www.facebook.com/volopav" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:voplav@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Volodymyr Pavlyuk <small>JS Developer</small></h3>
          <p>
            Volodymyr - JavaScript Developer at <a href="http://softserve.ua">SoftServe</a>. Lives in Lviv.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/js-2012/Volodymyr_Pavlyuk-js_application_architecture_part_1_theory.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <a href="http://www.youtube.com/watch?v=WcAzwrkwwBo&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film"></i></a>
          </div>
          <h4>JS Application Architecture</h4>
          <p>
            Architecture of JavaScript Applications.
          <p>
          <div class="label">JS</div>
        </div>
      </div>
    </div>


     <div class="row">
      <div class="span12" id="Dima.Tarasenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.jpg"/>
          <div class="links">
            <a href="http://www.facebook.com/profile.php?id=100001816220762" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:dtarasen@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Dima Tarasenko <small>JS Developer</small></h3>
          <p>
            Dima - JavaScript Developer at <a href="http://softserve.ua">SoftServe</a>. Lives in Lviv.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/js-2012/Dima_Tarasenko-scalable_js_applications_part_2_practice_and_samples.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <a href="http://www.youtube.com/watch?v=PDky8KUjVq4&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film"></i></a>
          </div>
          <h4>Scalable JS Applications</h4>
          <p>
            CSS, HTML and JS History. OOP in JavaScript. MVC. Layers. Best Practices.
          <p>
          <div class="label">JS</div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Sergii.Kifiak">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-7.png"/>
          <div class="links">
            <a href="mailto:skifiak@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Sergii Kifiak <small>Web Developer</small></h3>
          <p>
            Sergii - Web Developer at <a href="http://softserve.ua">SoftServe</a>. Lives in Chernivtsi.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/js-2012/Sergii_Kifiar_and_Anton%20Bodnar-mobile_web_application_case_study.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <a href="http://www.youtube.com/watch?v=W821LdKnLRg&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film"></i></a>
          </div>
          <h4>Mobile Web Application: case study</h4>
          <p>
            Offline Web Application Architecture. Building an Application with the Closure Library. iScroll or not iScroll. HTML5 features. Local Storage. Cashing. Canvas.
          <p>
          <div class="label">JS</div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Anton.Bodnar">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-8.png"/>
          <div class="links">
            <a href="mailto:abod@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Anton Bodnar <small>Web Developer</small></h3>
          <p>
            Anton - Web Developer at <a href="http://softserve.ua">SoftServe</a>. Lives in Chernivtsi.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <a href="https://dl.dropboxusercontent.com/u/3459328/pacemaker-slides/js-2012/Sergii_Kifiar_and_Anton%20Bodnar-mobile_web_application_case_study.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <a href="http://www.youtube.com/watch?v=W821LdKnLRg&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film"></i></a>
          </div>
          <h4>Mobile Web Application: case study</h4>
          <p>
            Application structural framework: Backbone. Using EJS-templates. Using SCSS.
          <p>
          <div class="label">JS</div>
        </div>
      </div>
    </div>


    </div>
  </div>
