
  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

    
  <!-- <div class="speakers_top">
    <div class="speakers">
      <h1><i class="icon-user"></i> Speakers</h1>
    </div>
  </div> -->
  <div class="promo_text speakers">
    <div class="row">
      <div class="span4" id="Yura.Bogdanov">
          <h3><i class="icon-user"></i> Yura Bogdanov</h3>
            <h4><i class="icon-comments"></i> NodeJS: Inside Tactoom.com <span class="label label-warning">node.js</span></h4>
          <div class="tabbable tabs-below">
          <div class="tab-content">
            <div class="tab-pane active" id="1-1-about">
              <p><img class="thumbnail photo" src="/images/js-2012/photos/1-1.png"/></p>
              <p>
                <i class="icon-info-sign"></i> Engineer and co-founder at Tactoom.com<br>
                <i class="icon-map-marker"></i> Kyiv (External, tactoom.com) <br>
                <i class="icon-star"></i> <a href="http://about.me/bogdanov" target="_blank"><i class="icon-external-link"></i> web</a>
              </p>
              <p>
                <a class="btn rounded btn-small" href="/slides/<%= settings.conf %>/Yura_Bogdanov-nodejs_inside_tactoom.ppt" target="_blank"><i class="icon-download icon-large"></i> Slides</a>
                <a class="btn rounded btn-small" href="http://www.youtube.com/watch?v=aAdOtyrmD8A&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film icon-large"></i> Video</a>
              </p>
            </div>
            <div class="tab-pane" id="1-1-agenda">
              <p>
                <ul>
                  <li><strong>Intro</strong></li>
                  <ul>
                    <li>About me</li>
                    <li>About Tactoom</li>
                  </ul>
                  <li><strong>Node.js</strong></li>
                  <ul>
                    <li>about technology and its features</li>
                    <li>applications</li>
                  </ul>
                  <li><strong>Scaling NodeJS</strong></li>
                  <ul>
                    <li>within the physical server</li>
                    <li>more than one server</li>
                    <li>decomposition</li>
                  </ul>
                  <li><strong>Redis</strong></li>
                  <ul>
                <li>cache server</li>
                <li>mutex server</li>
                <li>server queues</li>
                <li>internal communications server</li>
              </ul>
              <li><strong>MongoDB</strong></li>
              <ul>
                <li>benefits</li>
                <li>schema less</li>
                <li>replica sets and automatic failover</li>
              </ul>
              <li><strong>Deployment</strong></li>
              <ul>
                <li>static build</li>
                <li>use capistrano</li>
              </ul>
                </ul>
              </p>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#1-1-about" data-toggle="tab"><i class="icon-info-sign"></i> About</a></li>
            <li><a href="#1-1-agenda" data-toggle="tab"><i class="icon-th-list"></i> Agenda</a></li>
          </ul>
        </div>
        </div>
        <div class="span4" id="Vladimir.Vorobyov">
          <h3><i class="icon-user"></i> Vladimir Vorobyov </h3>
          <h4><i class="icon-comments"></i> How to test JavaScript with Jasmine <span class="label label-important">JS</span></h4>
          <div class="tabbable tabs-below">
          <div class="tab-content">
            <div class="tab-pane active" id="1-2-about">
              <p><img class="thumbnail photo" src="/images/js-2012/photos/1-2.png"/></p>
              <p>
                <i class="icon-info-sign"></i> Ruby Developer <br>
                <i class="icon-map-marker"></i> Dnipro (External, Ciklum) <br>
                <i class="icon-star"></i> <a href="http://www.facebook.com/vladimir.vorobyov" target="_blank"><i class="icon-external-link"></i> web</a>, <a href="mailto:sparrowpublic@gmail.com"><i class="icon-envelope"></i> mail</a>
              </p>
              <p>
                <a class="btn rounded btn-small" href="/slides/<%= settings.conf %>/Vladimir_Vorobyov-how_to_test_js_with_jasmine.pdf" target="_blank"><i class="icon-download icon-large"></i> Slides</a>
                <a class="btn rounded btn-small" href="http://www.youtube.com/watch?v=vBzjhgx-ChE&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film icon-large"></i> Video</a>
                <a href="https://github.com/sparrow/jasmine-presentation-code" target="_blank"><i class="icon-download-alt"></i> code</a>
              </p>
            </div>
            <div class="tab-pane" id="1-2-agenda">
              <p>
                <ul>
                  <li><strong>Basics</strong></li>
                  <ul>
                <li>Syntax</li>
                <li>Descibe</li>
                <li>It</li>
                <li>Setting up a Project</li>
                <li>Writing the Tests</li>
                <li>Matchers</li>
                <li>Writing Custom Matchers</li>
                <li>Before and After</li>
                <li>Fixtures</li>
                <li>Stubs and Mocks</li>
                <li>Fake Ajax and fake servers</li>
                <li>jQuery plugin testing</li>
              </ul>

              <li><strong>Backbone testing</strong></li>
              <ul>
                <li>Testing Models</li>
                <li>Testing Collections</li>
                <li>Testing Routers</li>
                <li>Testing Views</li>
              </ul>
            </ul>
              </p>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#1-2-about" data-toggle="tab"><i class="icon-info-sign"></i> About</a></li>
            <li><a href="#1-2-agenda" data-toggle="tab"><i class="icon-th-list"></i> Agenda</a></li>
          </ul>
        </div>
        </div>
        <div class="span4" id="Veronika.Dudnik">
          <h3><i class="icon-user"></i> Veronika Dudnik </h3>
          <h4><i class="icon-comments"></i> HSPS project: Sencha touch <span class="label label-important">JS</span></h4>
           <div class="tabbable tabs-below">
          <div class="tab-content">
            <div class="tab-pane active" id="1-3-about">
              <p><img class="thumbnail photo" src="/images/js-2012/photos/1-3.jpg"/></p>
              <p>
                <i class="icon-info-sign"></i> Web Developer <br>
                <i class="icon-map-marker"></i> Dnipro (HSPS project) <br>
                <i class="icon-star"></i> <a href="http://www.facebook.com/veronika.dudnik" target="_blank"><i class="icon-external-link"></i> web</a>, <a href="mailto:vdudnyk@softserveinc.com"><i class="icon-envelope"></i> mail</a>
              </p>
              <p>
                <a class="btn rounded btn-small" href="http://hsps-project-sencha-touch.heroku.com" target="_blank"><i class="icon-download icon-large"></i> Slides</a>
                <a class="btn rounded btn-small" href="http://www.youtube.com/watch?v=N9cWU4zSQY8&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film icon-large"></i> Video</a>
              </p>
            </div>
            <div class="tab-pane" id="1-3-agenda">
              <p>
                <ul>
                <li><strong>Welcome to B-Pro</strong></li>
                <ul>
              <li>Short history of B-Pro</li>
              <li>Customer: Henry Shine Practice Solution</li>
              <li>The Team</li>
              <li>The Task</li>
            </ul>
            <li><strong>On the intersection of several roads</strong></li>
            <ul>
              <li>What could we use</li>
              <li>What do we actually use</li>
            </ul>
            <li><strong>What is Sencha touch</strong></li>
            <ul>
              <li>General info about framework</li>
              <li>Components</li>
              <li>MVC</li>
            </ul>
            <li><strong>Sencha touch in our motion</strong></li>
            <ul>
              <li>Structure of our project</li>
              <li>Example of our mvc</li>
            </ul>
            <li><strong>Advantages</strong></li>
            <ul>
              <li>Mobile</li>
              <li>Easy</li>
              <li>Components</li>
              <li>Bunch of views</li>
            </ul>
            <li><strong>Nobody is perfect</strong></li>
            <ul>
              <li>Autofocus</li>
              <li>Synchronous request</li>
              <li>Lines of code</li>
            </ul>
            <li><strong>Review our project</strong></li>
            </ul>
              </p>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#1-3-about" data-toggle="tab"><i class="icon-info-sign"></i> About</a></li>
            <li><a href="#1-3-agenda" data-toggle="tab"><i class="icon-th-list"></i> Agenda</a></li>
          </ul>
        </div>
        </div>
      </div>
      <br><br><br>
      <div class="row">
        <div class="span4" id="Alex.Mekhovov">
          <h3><i class="icon-user"></i> Alex Mekhovov </h3>
          <h4><i class="icon-comments"></i> Sinatra: Sing with me this ditty <span class="label label-success">Ruby</span></h4>
          <div class="tabbable tabs-below">
          <div class="tab-content">
            <div class="tab-pane active" id="1-4-about">
              <p><img class="thumbnail photo" src="/images/js-2012/photos/1-4.jpg"/></p>
              <p>
                <i class="icon-info-sign"></i> Ruby on Rails Developer <br>
                <i class="icon-map-marker"></i> Dnipro (HomeAway project) <br>
                <i class="icon-star"></i> <a href="http://about.me/mekhovov" target="_blank"><i class="icon-external-link"></i> web</a>, <a href="mailto:omekh@softserveinc.com"><i class="icon-envelope"></i> mail</a>
              </p>
              <p>
                <a class="btn rounded btn-small" href="http://sinatra.pp.ua" target="_blank"><i class="icon-download icon-large"></i> Slides</a>
                <a class="btn rounded btn-small" href="http://www.youtube.com/watch?v=b_hD2zyjaRE&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film icon-large"></i> Video</a>
              </p>
            </div>
            <div class="tab-pane" id="1-4-agenda">
              <p>
                <ul>
                <li><strong>Sinatra: about</strong></li>
                <ul>
              <li>What is Sinatra?</li>
              <li>For whom?</li>
              <li>For What?</li>
              <li>Why?</li>
              <li>About Sinatra</li>
              <li>Shortly about Ruby</li>
            </ul>
            <li><strong>Site: up and running</strong></li>
            <ul>
              <li>Routes</li>
              <li>Custom Routes</li>
              <li>Static files</li>
              <li>Let's up our site</li>
              <li>Views / Templates</li>
              <li>HAML intro</li>
              <li>Views / Layouts</li>
              <li>Configuration</li>
              <li>Sinatra provide you..</li>
            </ul>
            <li><strong>Deploy: in a minutes</strong></li>
            <ul>
              <li>Rack Middleware</li>
              <li>Heroku: what is it?</li>
              <li>Prepare app to deploy</li>
              <li>Deploy to Heroku</li>
            </ul>
            <li><strong>DB: just use it</strong></li>
            <ul>
              <li>ORM: It's easy</li>
              <li>NoSQL - no problems</li>
            </ul>
            <li><strong>Sinatra: more</strong></li>
            <ul>
              <li>Authentication</li>
              <li>Rack Modules</li>
              <li>Images</li>
              <li>Files Upload/Download</li>
              <li>Social networks</li>
              <li>API example</li>
            </ul>
            </ul>
              </p>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#1-4-about" data-toggle="tab"><i class="icon-info-sign"></i> About</a></li>
            <li><a href="#1-4-agenda" data-toggle="tab"><i class="icon-th-list"></i> Agenda</a></li>
          </ul>
        </div>
        </div>
        <div class="span4" id="Volodymyr.Pavlyuk">
          <h3><i class="icon-user"></i> Volodymyr Pavlyuk </h3>
          <h4><i class="icon-comments"></i> JS Application Architecture <span class="label label-important">JS</span></h4>
           <div class="tabbable tabs-below">
          <div class="tab-content">
            <div class="tab-pane active" id="1-5-about">
              <p><img class="thumbnail photo" src="/images/js-2012/photos/1-5.png"/></p>
              <p>
                <i class="icon-info-sign"></i> JS Developer <br>
                <i class="icon-map-marker"></i> Lviv (Firewall Project) <br>
                <i class="icon-star"></i> <a href="http://www.facebook.com/volopav" target="_blank"><i class="icon-external-link"></i> web</a>, <a href="mailto:voplav@softserveinc.com"><i class="icon-envelope"></i> mail</a>
              </p>
              <p>
                <a class="btn rounded btn-small" href="/slides/<%= settings.conf %>/Volodymyr_Pavlyuk-js_application_architecture_part_1_theory.pptx" target="_blank"><i class="icon-download icon-large"></i> Slides</a>
                <a class="btn rounded btn-small" href="http://www.youtube.com/watch?v=WcAzwrkwwBo&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film icon-large"></i> Video</a>
              </p>
            </div>
            <div class="tab-pane" id="1-5-agenda">
              <p>
                <br><br><br><br><br><br><br><br>
                soon ...
                <br><br><br><br><br><br><br>
              </p>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#1-5-about" data-toggle="tab"><i class="icon-info-sign"></i> About</a></li>
            <li><a href="#1-5-agenda" data-toggle="tab"><i class="icon-th-list"></i> Agenda</a></li>
          </ul>
        </div>
        </div>
        <div class="span4" id="Dima.Tarasenko">
          <h3><i class="icon-user"></i> Dima Tarasenko</h3>
          <h4><i class="icon-comments"></i> Scalable JS Applications <span class="label label-important">JS</span></h4>
          <div class="tabbable tabs-below">
          <div class="tab-content">
            <div class="tab-pane active" id="1-6-about">
              <p><img class="thumbnail photo" src="/images/js-2012/photos/1-6.jpg"/></p>
              <p>
                <i class="icon-info-sign"></i> JS Developer <br>
                <i class="icon-map-marker"></i> Lviv (Firewall Project) <br>
                <i class="icon-star"></i> <a href="http://www.facebook.com/profile.php?id=100001816220762" target="_blank"><i class="icon-external-link"></i> web</a>, <a href="mailto:dtarasen@softserveinc.com"><i class="icon-envelope"></i> mail</a>
              </p>
              <p>
                <a class="btn rounded btn-small" href="/slides/<%= settings.conf %>/Dima_Tarasenko-scalable_js_applications_part_2_practice_and_samples.pptx" target="_blank"><i class="icon-download icon-large"></i> Slides</a>
                <a class="btn rounded btn-small" href="http://www.youtube.com/watch?v=PDky8KUjVq4&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film icon-large"></i> Video</a>
              </p>
            </div>
            <div class="tab-pane" id="1-6-agenda">
              <p>
                <ul>
                  <li><strong>CSS, HTML and JS History</strong></li>
              <li><strong>OOP in JavaScript</strong></li>
              <li><strong>MVC</strong></li>
              <li><strong>MVC Example</strong></li>
              <li><strong>Layers</strong></li>
              <li><strong>Best practices</strong></li>
            </ul>
              </p>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#1-6-about" data-toggle="tab"><i class="icon-info-sign"></i> About</a></li>
            <li><a href="#1-6-agenda" data-toggle="tab"><i class="icon-th-list"></i> Agenda</a></li>
          </ul>
        </div>
        </div>
      </div>
      <br><br><br>
      <div class="row">
        <div class="span4" id="Sergii.Kifiak">
          <h3><i class="icon-user"></i> Sergii Kifiak </h3>
          <h4><i class="icon-comments"></i> Mobile Web Application<span class="label label-important">JS</span></h4>
          <div class="tabbable tabs-below">
          <div class="tab-content">
            <div class="tab-pane active" id="1-7-about">
              <p><img class="thumbnail photo" src="/images/js-2012/photos/1-7.png"/></p>
              <p>
                <i class="icon-info-sign"></i> Web Developer<br>
                <i class="icon-map-marker"></i> Chernivtsi (Diebels Project) <br>
                <i class="icon-star"></i> <a href="mailto:skifiak@softserveinc.com"><i class="icon-envelope"></i> mail</a>
              </p>
              <p>
                <a class="btn rounded btn-small" href="/slides/<%= settings.conf %>/Sergii_Kifiar_and_Anton Bodnar-mobile_web_application_case_study.pptx" target="_blank"><i class="icon-download icon-large"></i> Slides</a>
                <a class="btn rounded btn-small" href="http://www.youtube.com/watch?v=W821LdKnLRg&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film icon-large"></i> Video</a>
              </p>
            </div>
            <div class="tab-pane" id="1-7-agenda">
              <p>
                <ul>
                  <li><strong>Offline Web Application Architecture</strong></li>
              <li><strong>Building an Application with the Closure Library</strong></li>
              <li><strong>iScroll or not iScroll</strong></li>
              <li><strong>HTML5 features</strong></li>
              <li><strong>Local Storage</strong></li>
              <li><strong>Cashing</strong></li>
              <li><strong>Canvas</strong></li>
            </ul>
              </p>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#1-7-about" data-toggle="tab"><i class="icon-info-sign"></i> About</a></li>
            <li><a href="#1-7-agenda" data-toggle="tab"><i class="icon-th-list"></i> Agenda</a></li>
          </ul>
        </div>
          <br><br>
        </div>
        <div class="span4">
          <h3><i class="icon-user"></i> Flash Man </h3>
          <h4><i class="icon-comments"></i>  Pacemaker Conference</h4>
          <div class="tabbable tabs-below">
          <div class="tab-content">
            <div class="tab-pane active" id="1-9-about">
              <p><img class="thumbnail photo" src="/images/js-2012/photos/1-9.png"/></p>
              <p>
                <i class="icon-info-sign"></i> JS Ninja <br>
                <i class="icon-map-marker"></i> SoftServe meeting room <br>
                <i class="icon-star"></i> <a href="https://twitter.com/#!/pacemaker_conf"  target="_blank"><i class="icon-external-link"></i> twitter</a>, <a href="mailto:hr@softserveinc.com"><i class="icon-envelope"></i> mail</a>
              </p>
              
                <br><br>
              
            </div>
            <div class="tab-pane" id="1-9-agenda">
              <p>
                <ul>
                  <li><strong>Dmytro Ovcharenko</strong>, Dnipro</li>
              <li><strong>Dmytro Nemoga</strong>, Dnipro</li>
              <li><strong>Andriy Zakharko</strong>, Lviv</li>
              <li><strong>Vadym Fedorov</strong>, Sevastopol</li>
              <li><strong>Sergii Melnyk</strong>, Sevastopol</li>
              <li><strong>Mykhailo Gaponov</strong>, Sevastopol</li>
            </ul>
              </p>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#1-9-about" data-toggle="tab"><i class="icon-info-sign"></i> About</a></li>
            <li><a href="#1-9-agenda" data-toggle="tab"><i class="icon-th-list"></i> Agenda</a></li>
          </ul>
        </div>
          <br><br>
        </div>
        <div class="span4" id="Anton.Bodnar">
          <h3><i class="icon-user"></i> Anton Bodnar </h3>
          <h4><i class="icon-comments"></i> Mobile Web Application<span class="label label-info">UI</span> </h4>
          <div class="tabbable tabs-below">
          <div class="tab-content">
            <div class="tab-pane active" id="1-8-about">
              <p><img class="thumbnail photo" src="/images/js-2012/photos/1-8.png"/></p>
              <p>
                <i class="icon-info-sign"></i> Web Developer <br>
                <i class="icon-map-marker"></i> Chernivtsi (Diebels Project) <br>
                <i class="icon-star"></i> <a href="mailto:abod@softserveinc.com"><i class="icon-envelope"></i> mail</a>
              </p>
              <p>
                <a class="btn rounded btn-small" href="/slides/<%= settings.conf %>/Sergii_Kifiar_and_Anton Bodnar-mobile_web_application_case_study.pptx" target="_blank"><i class="icon-download icon-large"></i> Slides</a>
                <a class="btn rounded btn-small" href="http://www.youtube.com/watch?v=W821LdKnLRg&feature=share&list=PL05CD8F236BAB68BA" target="_blank"><i class="icon-film icon-large"></i> Video</a>
              </p>
            </div>
            <div class="tab-pane" id="1-8-agenda">
              <p>
                <ul>
                  <li><strong>Application structural framework: Backbone</strong></li>
              <ul>
                 <li>Backbone introduction</li>
                 <li>Implementation MVC using Backbone</li>
                 <li>Backbone extending</li>
                 <li>Using Backbone Router</li>
                 <li>Events binding</li>
                 <li>Collections and Underscore library </li>
              </ul>
            <li><strong>Using EJS-templates</strong></li>
            <li><strong>Using SCSS</strong></li>
            </ul>
              </p>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#1-8-about" data-toggle="tab"><i class="icon-info-sign"></i> About</a></li>
            <li><a href="#1-8-agenda" data-toggle="tab"><i class="icon-th-list"></i> Agenda</a></li>
          </ul>
        </div>
          <br><br>
        </div>
      </div>
  </div>
  </div>