
	<!-- About Section -->
	<div id="about" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

	<div class="promo_text">
   

    <div class="row speakers">
        <div class="span4">
          <br><br>
        </div>
        <div class="span5">
            <br><br><br><br><br>
            <a href="mailto:obaranov@softserveinc.com, dovchar@softserveinc.com, omekh@softserveinc.com"><h1>Call for Speakers!<small> <br> mail us to suggest a speaker</small></h1></a>
            <br><br><br><br><br>
        </div>
        <div class="span3">
          <br><br>
        </div>
    </div>


    <!-- <h3>Speakers</h3><br> -->

    <div class="row speakers">
        <!-- <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p><a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> topic </p> 
            <small><a href="speakers#"> name </a></small>
          </blockquote>
        </div> -->

        <!-- <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p><a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> Continious Integrations in big projects</p> 
            <small><a href="speakers#"> name </a></small>
          </blockquote>
        </div> -->

        <!-- <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p><a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> topic </p> 
            <small><a href="speakers#"> name </a></small>
          </blockquote>
        </div> -->

      </div>

      <div class="row speakers">
        <!-- <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p><a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> topic </p> 
            <small><a href="speakers#"> name </a></small>
          </blockquote>
        </div> -->
        
        <!-- <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p><a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> topic </p> 
            <small><a href="speakers#"> name </a></small>
          </blockquote>
        </div> -->

        <!-- <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p><a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> topic </p> 
            <small><a href="speakers#"> name </a></small>
          </blockquote>
        </div> -->

      </div>

    <!-- <h3>Lightning talks</h3><br> -->

    <div class="row speakers">


        <!-- <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-1.png"/>
        </div>
        <div class="span3 star_minutes">
          <blockquote>
            <p><a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> topic </p> 
            <small> name </small>
          </blockquote>
        </div> -->

        <!-- <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-2.png"/>
        </div>
        <div class="span3 star_minutes">
          <blockquote >
            <p><a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> topic </p> 
            <small> name </small>
          </blockquote>
        </div> -->

      <!-- <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-3.png"/>
        </div>
        <div class="span3 star_minutes">
          <blockquote ><br>
            <p><a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> topic </p> 
            <small> name </small>
          </blockquote>
        </div> -->
      
    </div>
        
    <div class="row speakers">
      
      <!-- <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-4.png"/>
        </div>
        <div class="span3 star_minutes">
          <blockquote>
            <p><a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> topic </p> 
            <small> name </small>
          </blockquote>
        </div> -->
      
    </div>

  
  
		</div>
	</div>
</div>



