  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">


    <div class="row">
      <div class="span12" id="Kostyantyn.Reu">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:kreu@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Kostyantyn Reu <small>    </small></h3>
          <p>
            Software Engineer
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Enterprise search: looking for a needle in a haystack </h4>
          <p>
            will be provided late..
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Bogdan.Dmytryshyn">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:bdmytr@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Bogdan Dmytryshyn <small>    </small></h3>
          <p>
            Software Engineer
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Predicted analytics in the real world </h4>
          <p>
            The evolution of a predicted analytic tool on a real project.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Taras.Bachynskyy">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:tbachyns@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Taras Bachynskyy <small>    </small></h3>
          <p>
            Software Engineer
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> BigData structured analytics </h4>
          <p>
            Architectural patterns, overview, different approaches comparison, technology selection
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Vitaliy.Yuryev">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <div class="links">
            <a href="https://www.facebook.com/vyuryev" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:vyuryev@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Vitaliy Yuryev <!-- <small>Technology Consultant</small> --></h3>
          <p>
            Vitaliy Yuryev is a Technology Consultant at <a href="http://softserve.ua">SoftServe</a>, Inc. I'm leading the Optimization and Feasibility Study directions within R&D team, helping clients to assess their innovative idea, quickly and trustworthy examine the potential of business idea and identify new opportunities and potential risks. My areas of expertise are performance and architecture optimization, code re-factoring and optimization, Big Data and Machine Learning
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>BigData processing with Apache Hadoop</h4>
          <p>
            We will talk about what is Apache Hadoop, how does it fit into Big Data processing and how to apply it for you needs.
          <p>
          <!-- <div class="label">..</div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Denis.Reznik">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/>
          <div class="links">
            <a href="http://www.linkedin.com/pub/denis-reznik/3/502/234" target="_blank"><i class="icon-linkedin"></i></a>
            <!-- <a href="mailto:vyuryev@softserveinc.com"><i class="icon-envelope"></i></a> -->
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Denis Reznik <!-- <small>Technology Consultant</small> --></h3>
          <p>
            Denis is Senior Database Architect at The Frayman Group. He enjoys developing complex data processing solutions. He has experience in the development of highly scalable SQL Server and SQL Azure based projects.<br>
            With core competencies of technology & feasibility, user experience, usability, mobility, cloud & security, virtualization, and enterprise architecture Vasyl Mylko is a leader in cutting edge mobile technology
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Optimizing SQL queries and database performance (MS SQL Server)</h4>
          <!-- <p>
            Top Secret
          <p> -->
          <!-- <div class="label">..</div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Vasyl.Mylko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.png"/>
          <div class="links">
            <!-- <a href="http://www.linkedin.com/pub/denis-reznik/3/502/234" target="_blank"><i class="icon-linkedin"></i></a> -->
            <a href="mailto:vmylko@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Vasyl Mylko <!-- <small>Technology Consultant</small> --></h3>
          <p>
            Software Engineer
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Six graphs & five sources of BigData</h4>
          <p>
            I think a pill from R&D will be useful. My stuff is brainwashing as usually, for perspective. Hope it will improve people's strategic vision.
          <p>
          <!-- <div class="label">..</div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Iryna.Khomutova">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-1.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:ikhomut@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Iryna Khomutova <small>    </small></h3>
          <p>
            Software Engineer
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Hierarchical queries in Oracle </h4>
          <p>
            Using CONNECT BY clause in Oracle PL/SQL and converting it to SQL Server T-SQL
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>



    <div class="row">
      <div class="span12" id="Vitaliy.Bashun">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-2.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:vbash@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Vitaliy Bashun <small>    </small></h3>
          <p>
            I’m a software developer at SoftServe.
            I have a rich experience working with databases and related technologies for over 7 years. 
            The primary fields of work are such as database design, data warehouses, data integration, etc.
            I also like working with Java and NoSQL databases.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> FlyWay - the agile database migration framework </h4>
          <p>
            How do you usually solve the problem of consistency between your code and your database schema? <br>
            Is it really easy to manage that when you have hundreds of DB servers?<br>
            Yes, it is! Stop writing those annoying, buggy scripts to check and update version. You have a tool for that!
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12" id="Maksym.Palamarenko">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-3.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <!-- <a href="mailto:vbash@softserveinc.com"><i class="icon-envelope"></i></a> -->
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Maksym Palamarenko <small>    </small></h3>
          <p>
             I am a C++/.NET engeneer and work currently with Helthcare client. I have experince of working both with MS SQL and Oracle, but recent blow of Big Data and non SQL databases attracted my attention. I decided to give it a try and share results with you.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Introduction to MongoDB: write your first NoSQL blog </h4>
          <p>
            
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
    

    
  
    </div>



      </div>


    </div>
  </div>
