  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">


    <div class="row">
      <div class="span12" id="Kostyantyn.Reu">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:kreu@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Kostyantyn Reu <small>    </small></h3>
          <p>
            Software Engineer
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Enterprise Search: Looking for a Needle in a haystack </h4>
          <p>
            will be provided late..
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Bogdan.Dmytryshyn">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:bdmytr@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Bogdan Dmytryshyn <small>    </small></h3>
          <p>
            Software Engineer
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Predicted Analytics in the Real World </h4>
          <p>
            The evolution of a predicted analytic tool on a real project.
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Taras.Bachynskyy">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:tbachyns@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Taras Bachynskyy <small>    </small></h3>
          <p>
            Software Engineer
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Big Data Structured Analytics </h4>
          <p>
            Architectural patterns, overview, different approaches comparison, technology selection
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Vitaliy.Yuryev">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <div class="links">
            <a href="https://www.facebook.com/vyuryev" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:vyuryev@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3>Vitaliy Yuryev <!-- <small>Technology Consultant</small> --></h3>
          <p>
            Vitaliy Yuryev is a Technology Consultant at <a href="http://softserve.ua">SoftServe</a>, Inc. I'm leading the Optimization and Feasibility Study directions within R&D team, helping clients to assess their innovative idea, quickly and trustworthy examine the potential of business idea and identify new opportunities and potential risks. My areas of expertise are performance and architecture optimization, code re-factoring and optimization, Big Data and Machine Learning
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Big Data processing with Apache Hadoop</h4>
          <p>
            We will talk about what is Apache Hadoop, how does it fit into Big Data processing and how to apply it for you needs.
          <p>
          <!-- <div class="label">..</div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Iryna.Khomutova">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-1.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:ikhomut@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Iryna Khomutova <small>    </small></h3>
          <p>
            Software Engineer
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Hierarchical Queries in Oracle </h4>
          <p>
            Using CONNECT BY clause in Oracle PL/SQL and converting it to SQL Server T-SQL
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>



    <div class="row">
      <div class="span12" id="Vitaliy.Bashun">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-2.png"/>
          <div class="links">
            <!-- <a href="" target="_blank"><i class="icon-facebook"></i></a> -->
            <a href="mailto:vbash@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Vitaliy Bashun <small>    </small></h3>
          <p>
            Software Engineer
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> FlyWay - The agile database migration framework </h4>
          <p>
            How do you usually solve the problem of consistency between your code and your database schema? <br>
            Is it really easy to manage that when you have hundreds of DB servers?<br>
            Yes, it is! Stop writing those annoying, buggy scripts to check and update version. You have a tool for that!
          <p>
          <!-- <div class="label"> .. </div> -->
        </div>
      </div>
    </div>
    

    
  
    </div>



      </div>


    </div>
  </div>
