
  <!-- About Section -->
  <div id="about" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>


    <div class='span8 speakers'>
      
      <h3>Speakers:</h3>


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <p>
            Hadoop distributed computing
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Alexey_Gayduk-Hadoop_distributed_computing.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Alexey.Gayduk">Alexey Gayduk</a>
          </p>
      </div>
      

      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <p>
            Not a relational databases
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Roman_Nikolaenko-Not_a_relational_databases.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Roman.Nikolaenko">Roman Nikolaenko</a>
          </p>
      </div>


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <p>
            Stories from the life of Java consultant
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Andriy_Shapochka-stories_from_the_life_of_java_consultant.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Andriy.Shapochka">Andriy Shapochka</a>
          </p>
      </div>      


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <p>
            Smarter Testing with Spock
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Dmitry_Voloshko-smarter_testing_with_spock.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Dmitry.Voloshko">Dmitry Voloshko</a>
          </p>
      </div>   


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-6.png"/>
          <p>
            Near Field Communication
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Vitaliy_Yuryev-near_field_communication.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Vitaliy.Yuryev">Vitaliy Yuryev</a>
          </p>
      </div>   


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <p>
            Spring Security 3
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Maksym_Titov-spring_security_3.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Maksym.Titov">Maksym Titov</a>
          </p>
      </div>   

    </div>

    

    <div class='span4 speakers lightning_talks'>

      <h3>Lightning talks:</h3>

      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/2-1.png"/>
          <p>
            RailWay JS
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Dmytro_Ovcharenko-RailWay_JS.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            Dmytro Ovcharenko
          </p>
      </div>   


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/2-2.jpg"/>
          <p>
            Motivation
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Veronika_Dudnyk-Motivation.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            Veronika Dudnyk
          </p>
      </div>   


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/2-4.jpg"/>
          <p>
            Type of clients
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Vadim_Mateushev-Type_of_clients.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            Vadim Mateushev
          </p>
      </div>   


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/2-3.png"/>
          <p>
            My current project
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Maksym_Titov-My_current_project.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            Maksym Titov
          </p>
      </div>   


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/2-5.png"/>
          <p>
            How to make everything okay
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Alina_Marusyk-How_to_make_everything_okay.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            Alina Marusyk
          </p>
      </div>   


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/2-6.png"/>
          <p>
            Flex with Java/Ruby
          </p> 
          <p class='author'>
            <a href="/slides/<%= settings.conf %>/Mariia_Bilokurova-Flex_with_Java_Ruby.ppt" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            Mariia Bilokurova
          </p>
      </div>   



    </div>







    <div class='span12'> <hr> </div> 

      <% if settings.page != 'register' && settings.conferencies[settings.conf][:reg_open]%>
        

        <div class="span4 reg_deadline">
          <p>
            <strong> 
              Registration Deadline <br>
            </strong>
              <%= settings.conferencies[settings.conf][:reg_deadline]%> 
          </p>
        </div>
        
        <div class="span4 reg_button">
            <div class="register">
              <a href="register" class="btn btn-primary" >Register</a>
              <br>
              <small class="">&nbsp;*only for SoftServe folks</small>
            </div> 
        </div>
        
      <% end %>



      <div class="span8 info_pht_vid">
        <p>
          Photos: 
          <a href="http://www.facebook.com/media/set/?set=a.270956206347345.61502.210154085760891&type=3"  target="_blank"> <img class="pht_vid" src="/images/ico_photos.png"></img> </a>
          Videos:
          <a href="http://www.youtube.com/playlist?list=PLD91161618C0488B6" target="_blank"> <img class="pht_vid" src="/images/ico_videos.png"></img></a>
        </p>
        <!-- <p><small>..we are processing video</small></p> -->
      </div>
      
      <div class="span4 info_follow_us">
          <p>
            Follow us: 
            <a href="https://twitter.com/#!/pacemaker_conf"  target="_blank"><img src="/images/twitter.png" class="twitter"></img></a>
            <a href="http://www.facebook.com/PacemakerJs"  target="_blank"><img src="/images/facebook.png" class="twitter"></img></a>
          </p>
      </div>




</div>



