
	<!-- About Section -->
	<div id="about" class="content_wrap">

  	<%= erb :"#{settings.conf}/_header" %>

	
	<div class="promo_text">

		<div class="row speakers">
        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p>Hadoop distributed computing</p> 
            <small><a href="speakers#Alexey.Gayduk">Alexey Gayduk</a></small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>Not a relational databases</p> 
            <small><a href="speakers#Roman.Nikolaenko">Roman Nikolaenko</a></small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p>Stories from the life of Java consultant</p> 
            <small><a href="speakers#Andriy.Shapochka">Andriy Shapochka</a></small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>Smarter Testing with Spock</p> 
            <small><a href="speakers#Dmitry.Voloshko">Dmitry Voloshko</a></small>
          </blockquote>
        </div>

				<div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>Near Field Communication</p> 
            <small><a href="speakers#Vitaliy.Yuryev">Vitaliy Yuryev</a></small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>Spring Security 3</p> 
            <small><a href="speakers#Maksym.Titov">Maksym Titov</a></small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-1.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>RailWay JS</p> 
            <small>Dmytro Ovcharenko</small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-2.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>Motivation</p> 
            <small>Veronika Dudnyk</small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-3.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>My current project</p> 
            <small>Maksym Titov</small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-4.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>Type of clients</p> 
            <small>Vadim Mateushev</small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-5.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p>How to make everything okay</p> 
            <small>Alina Marusyk</small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-6.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>Flex with Java/Ruby</p> 
            <small>Mariia Bilokurova</small>
          </blockquote>
        </div>

    </div>
		
		

	
		</div>
	</div>
</div>



