
	<!-- Report Section -->
	<div id="report" class="content_wrap">
		
		<%= erb :"#{settings.conf}/_header" %>

	<div class="promo_text speakers report">
			<div class="span8">
		      <h1> Report</h1>

		      <br>
		      
		       <p>
		       		<img class="span2 thumbnail logo_report" src="/images/<%= settings.conf %>/report/01.png"/> Pacemaker – серія конференцій, які організовуються винятково для працівників нашої компанії. Цілі конференції не тільки підвищити рівень знань учасників, а й допомогти налагодити нові контакти, поділитися досвідом у неформальній атмосфері, а також відвідати розробницькі центри нашої компанії, адже кожен з них по-своєму унікальний. 
		       </p>
		       <p>
		       		Як Ви пам’ятаєте, перша <a href="/js-2012">Pacemaker: JS</a> успішно пройшла в дніпропетровському офісі, зібравши понад 60 учасників.
		       </p>
		       <p>
		       		<a href="/java-2012">Pacemaker: Java</a>, стала наступним етапом. Цього разу місцем зустрічі однодумців, охочих поповнити свої знання та поділитися своїм досвідом стали Чернівці.
		       </p>
		       <p>
		       		<img class="thumbnail" src="/images/<%= settings.conf %>/report/02.jpg"/>
		       </p>
		       <p>
		       		Марафон почали наші гості з Харкова. Перша доповідь була присвячена проекту фонду Apache – відомої платформи для масово-паралельної обробки даних Hadoop. Своїм досвідом роботи з цим інструментом поділився Олексій Гайдук (Senior Engineer, Харків). Учасники з цікавістю слухали теоретичну частину і задавали багато запитань під час практичної ( <a href="/slides/<%= settings.conf %>/Alexey_Gayduk-Hadoop_distributed_computing.pdf" target="_blank"> Slides</a> ). У такому ж позитивному руслі, розпочалася друга доповідь Романа Ніколаєнко (Software Engineer, Харків). Роман розповів про реляційні бази даних та їхні позитивні та негативні сторони( <a href="/slides/<%= settings.conf %>/Roman_Nikolaenko-Not_a_relational_databases.pdf" target="_blank"> Slides</a> ). В кінці презентацій, наші гості приємно здивували аудиторію подарунками, які привезли зі собою. Найактивніші учасники отримали книги.
		       </p>
		       <p>
		       		Після смачної кави та солодощів, на сцену Pacemaker вийшов Андрій Шапочка (System Architect), який розпочав свою розповідь з того, як він потрапив у програмування. Зокрема, Андрій поділився своїми враженнями про життя та роботу у США ( <a href="/slides/<%= settings.conf %>/Andriy_Shapochka-stories_from_the_life_of_java_consultant.pptx" target="_blank"> Slides</a> ). Учасники конференції не відпускали Андрія зі сцени аж до обідньої перерви, а найбільш наполегливі задавали питання і впродовж неї.
		       </p>
		       <p>
		       		Після обіду, прийшла черга виступити Дмитра Волошки (Java Developer, SoftServe). Діма, натхненний конференцією у Кракові, вирішив розповісти нам про Spoke-тести, про які не тільки чув від самих творців, а й успішно застосовує у своєму проекі. Його презентація була наповнена пізнавальними прикладами різної складності. ( <a href="/slides/<%= settings.conf %>/Dmitry_Voloshko-smarter_testing_with_spock.pptx" target="_blank"> Slides</a> ).
		       </p>
		       <p>
		       		Віталій Юр’єв (R&D Manager, SoftServe), розповів про технологію NFC, яка активно використовується в США та Європі. Віталій розповів про принципи роботи, аспекти безпеки, а також поділився результатами власних досліджень. ( <a href="/slides/<%= settings.conf %>/Dmitry_Voloshko-smarter_testing_with_spock.pptx" target="_blank"> Slides</a> ).
		       </p>
		       <p>
		       		Наступним слово взяв Максим Тітов (Java Developer, SoftServe). Максим розповів про Spring Security3, особливості роботи з цим Фреймворком і його практичне використання ( <a href="/slides/<%= settings.conf %>/Vitaliy_Yuryev-near_field_communication.pdf" target="_blank"> Slides</a> ).
		       </p>
		       <p>
		       		Фінальним акордом конференції стала серія доповідей light talks. Участь у них взяли “софтсервівці”:
		       		<ul>
		       			<li> Діма Овчаренко (Дніпропетровськ) “RailWay JS” </li>
								<li> Марія Білокурова (Львів) – “Flex with Java/Ruby” </li>
								<li> Аліна Марусик (Дніпропетровськ) – “How to make everything okay” </li>
								<li> Максим Тітов (Дніпропетровськ) – “My current project” </li>
								<li> Вероніка Дудник (Дніпропетровськ) – “Motivation” </li>
								<li> Вадим Матеушев (Дніпропетровськ ) – “Type of clients” </li>
		       		</ul>
		       </p>
		       <p>
		       		Варто додати, що обговорення доповідей на цьому не закінчилось. Офіційна частина конференції задала тон і теми, які шумно обговорювались на pizza-party і на прогулянці Чернівцями.
		       </p>
		       <p>
		       		Наступного дня, втомлені та задоволені результатом, учасники роз’їхались: хтось продовжив гуляти чернівецькими вуличками, хтось поїхав на екскурсію по замках. Та всі ми отримали море вражень, знань знайомств і величезне бажання приїхати до Чернівців ще раз!
		       </p>
		       <p>
		       		Наступна зустріч “пейсмейкерів” відбудеться вже незабаром. Сподіваємося побачити там і Вас!
		       	</p>
		       <p>
		       		Стежте за анонсами!
		       </p>
		        
		        <div class="span6">
		       <hr>
		       <p>
		       		<strong>Автор:</strong> Вероніка Дудник, <em>B-Pro<em>
		       </p>
		        </div>

		    </div>
		

	   
	</div>

	

		