
	<!-- Report Section -->
	<div id="report" class="content_wrap">

	<div class="promo_text speakers report">
		<div class="row">
			<div class="span7">
		      <h1><i class="icon-pencil"></i> PACEMAKER - Java Report</h1>

		      <br>
		      <div class="span3">
		      	&nbsp;
		      </div>
		      

		       <p>
		       		<img class="span2 thumbnail logo_report" src="/images/<%= settings.conf %>/report/01.png"/> Pacemaker – серія конференцій, які організовуються винятково для працівників нашої компанії. Цілі конференції не тільки підвищити рівень знань учасників, а й допомогти налагодити нові контакти, поділитися досвідом у неформальній атмосфері, а також відвідати розробницькі центри нашої компанії, адже кожен з них по-своєму унікальний. 
		       </p>
		       <p>
		       		Як Ви пам’ятаєте, перша <a href="/js-2012">Pacemaker: JS</a> успішно пройшла в дніпропетровському офісі, зібравши понад 60 учасників.
		       </p>
		       <p>
		       		<a href="/java-2012">Pacemaker: Java</a>, стала наступним етапом. Цього разу місцем зустрічі однодумців, охочих поповнити свої знання та поділитися своїм досвідом стали Чернівці.
		       </p>
		       <p>
		       		<img class="thumbnail" src="/images/<%= settings.conf %>/report/02.jpg"/>
		       </p>
		       <p>
		       		Марафон почали наші гості з Харкова. Перша доповідь була присвячена проекту фонду Apache – відомої платформи для масово-паралельної обробки даних Hadoop. Своїм досвідом роботи з цим інструментом поділився Олексій Гайдук (Senior Engineer, Харків). Учасники з цікавістю слухали теоретичну частину і задавали багато запитань під час практичної ( <a href="/slides/<%= settings.conf %>/Alexey_Gayduk-Hadoop_distributed_computing.pdf" target="_blank"> Slides</a> ). У такому ж позитивному руслі, розпочалася друга доповідь Романа Ніколаєнко (Software Engineer, Харків). Роман розповів про реляційні бази даних та їхні позитивні та негативні сторони( <a href="/slides/<%= settings.conf %>/Roman_Nikolaenko-Not_a_relational_databases.pdf" target="_blank"> Slides</a> ). В кінці презентацій, наші гості приємно здивували аудиторію подарунками, які привезли зі собою. Найактивніші учасники отримали книги.
		       </p>
		       <p>
		       		Після смачної кави та солодощів, на сцену Pacemaker вийшов Андрій Шапочка (System Architect), який розпочав свою розповідь з того, як він потрапив у програмування. Зокрема, Андрій поділився своїми враженнями про життя та роботу у США ( <a href="/slides/<%= settings.conf %>/Andriy_Shapochka-stories_from_the_life_of_java_consultant.pptx" target="_blank"> Slides</a> ). Учасники конференції не відпускали Андрія зі сцени аж до обідньої перерви, а найбільш наполегливі задавали питання і впродовж неї.
		       </p>
		       <p>
		       		Після обіду, прийшла черга виступити Дмитра Волошки (Java Developer, SoftServe). Діма, натхненний конференцією у Кракові, вирішив розповісти нам про Spoke-тести, про які не тільки чув від самих творців, а й успішно застосовує у своєму проекі. Його презентація була наповнена пізнавальними прикладами різної складності. ( <a href="/slides/<%= settings.conf %>/Dmitry_Voloshko-smarter_testing_with_spock.pptx" target="_blank"> Slides</a> ).
		       </p>
		       <p>
		       		Віталій Юр’єв (R&D Manager, SoftServe), розповів про технологію NFC, яка активно використовується в США та Європі. Віталій розповів про принципи роботи, аспекти безпеки, а також поділився результатами власних досліджень. ( <a href="/slides/<%= settings.conf %>/Dmitry_Voloshko-smarter_testing_with_spock.pptx" target="_blank"> Slides</a> ).
		       </p>
		       <p>
		       		Наступним слово взяв Максим Тітов (Java Developer, SoftServe). Максим розповів про Spring Security3, особливості роботи з цим Фреймворком і його практичне використання ( <a href="/slides/<%= settings.conf %>/Vitaliy_Yuryev-near_field_communication.pdf" target="_blank"> Slides</a> ).
		       </p>
		       <p>
		       		Фінальним акордом конференції стала серія доповідей light talks. Участь у них взяли “софтсервівці”:
		       		<ul>
		       			<li> Діма Овчаренко (Дніпропетровськ) “RailWay JS” </li>
								<li> Марія Білокурова (Львів) – “Flex with Java/Ruby” </li>
								<li> Аліна Марусик (Дніпропетровськ) – “How to make everything okay” </li>
								<li> Максим Тітов (Дніпропетровськ) – “My current project” </li>
								<li> Вероніка Дудник (Дніпропетровськ) – “Motivation” </li>
								<li> Вадим Матеушев (Дніпропетровськ ) – “Type of clients” </li>
		       		</ul>
		       </p>
		       <p>
		       		Варто додати, що обговорення доповідей на цьому не закінчилось. Офіційна частина конференції задала тон і теми, які шумно обговорювались на pizza-party і на прогулянці Чернівцями.
		       </p>
		       <p>
		       		Наступного дня, втомлені та задоволені результатом, учасники роз’їхались: хтось продовжив гуляти чернівецькими вуличками, хтось поїхав на екскурсію по замках. Та всі ми отримали море вражень, знань знайомств і величезне бажання приїхати до Чернівців ще раз!
		       </p>
		       <p>
		       		Наступна зустріч “пейсмейкерів” відбудеться вже незабаром. Сподіваємося побачити там і Вас!
		       	</p>
		       <p>
		       		Стежте за анонсами!
		       </p>
		        <div class="span3">
		       		<a href="https://www.facebook.com/media/set/?set=a.270956206347345.61502.210154085760891&type=1"  target="_blank">
      				<h3><i class="icon-picture"></i> Більше фото </h3>
      				<img class="" src="/images/ico_photos.png"></img>
	      			</a>
		       </div>
		       <!-- <div class="span3">
		       		<a href="http://www.youtube.com/playlist?list=PL05CD8F236BAB68BA"  target="_blank">
						    <h3><i class="icon-film"></i> Переглянути відео</h3>
		      			  	<img class="" src="/images/ico_videos.png"></img>
		      			  </a> 
		       </div> -->
		        <div class="span6">
		       <hr>
		       <p>
		       		<strong>Автор:</strong> Вероніка Дудник, <em>B-Pro<em>
		       </p>
		        </div>

		    </div>
		    <!-- photos -->
		    <div class="span2">
				<a href="https://www.facebook.com/media/set/?set=a.270956206347345.61502.210154085760891&type=1"  target="_blank">
      				<h3><i class="icon-picture"></i> Photos</h3>
      				<img class="" src="/images/ico_photos.png"></img>
      			</a>
      		</div>
			<!-- videos -->
			<!-- <div class="span2">
				<a href="#"  target="_blank">
						    <h3><i class="icon-film"></i> Videos</h3>
		      			  	<img class="" src="/images/ico_videos.png"></img>
		      			  </a> 
		    </div> -->

			<!-- twitter -->
			<div class="span4">  			  
				<br>
		    		<h3><a href="twitter"><img class="map" src="/images/icon-twitter.png"> Twitter news</a></img></h3>
			        <div class="alert  twits">
			        	<div class="row">
							<div class="span1 pht">
		        				<img class="thumbnail" src="/images/ico_wait.gif"> </img>
		        				<p class="time_ago"></p>
		        			</div>
		        			<div class="span2 post">
		        				<p><br>loading..</p>
		        			</div>
		        		</div>
		    		</div>
		    </div>
		    
		    <!-- <div class="span4">
			<br>
		    <hr>
		    	<span class="thumbnail video">
		    		<iframe width="290" height="170" src="http://www.youtube.com/embed/b_hD2zyjaRE" frameborder="0" allowfullscreen></iframe>
		    	</span>
		    	<hr>
		    	<span class="thumbnail video">
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/Qx3hZrMy2bI" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/aAdOtyrmD8A" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/0dCmJsK70xw" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/W821LdKnLRg" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/vBzjhgx-ChE" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/WcAzwrkwwBo" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/6SB8HBkSdgQ" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/PDky8KUjVq4" frameborder="0" allowfullscreen></iframe>
			    </span>
			    <hr>
			    <span>
			    	<iframe width="290" height="170" src="http://www.youtube.com/embed/W6taxxnWSdE" frameborder="0" allowfullscreen></iframe>
			    </span>
		    </div>	 -->

	   
	</div>
	</div>

	

		