  <!-- Speakers Section -->
  <div id="about" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">


    <div class="row">
      <div class="span12" id="Alexey.Gayduk">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/></div>
        <div class="span5 about">
          <div class="links">
            <!-- <a href="mailto:___"><i class="icon-envelope"></i></a> -->
          </div>
          <h3>Alexey Gayduk <small>Senior Engineer</small></h3>
          <p>
            Alexey - Senior Engineer at <a href="http://www.griddynamics.com">Grid Dynamics</a>. In IT for over 10 years, more than 5 years in the making of everything connected with the language Java. Currently engaged in writing applications for handling large amounts of data. Lives in Kharkov.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <a href="/slides/<%= settings.conf %>/Alexey_Gayduk-Hadoop_distributed_computing.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Continious Integrations in big projects</h4>
          <p>
            I'll tell you about what the problems are solved Hadoop, where its use is appropriate and what is not. How does HDFS and show this with an example. Let us consider an example using Map / Reduce freymverka in Hadoop. Will be considered in the practical application of Hadoop applications built on SOA architecture. Touch upon the topic of Hadoop with existing applications.
          <p>
          <div class="label">Hadoop</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12" id="Roman.Nikolaenko">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/></div>
        <div class="span5 about">
          <div class="links">
            <!-- <a href="mailto:___"><i class="icon-envelope"></i></a> -->
          </div>
          <h3>Roman Nikolaenko <small>Engineer</small></h3>
          <p>
            Roman - Engineer at <a href="http://www.griddynamics.com">Grid Dynamics</a>. Enjoy interesting challenges related to the development of distributed systems and their design. The current project for Java has been the development of distributed data processing system that uses Apache Hadoop and MongoDB. Lives in Kharkov.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <a href="/slides/<%= settings.conf %>/Roman_Nikolaenko-Not_a_relational_databases.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Not a relational databases</h4>
          <p>
            You will learn about how NoSql HBase data store that stores data as HBase is used for this Hadoop. There will also be told about MongoDB. Will compare HBase and MongoDB and that practical experience with the two repositories.
          <p>
          <div class="label">NoSQL</div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Andriy.Shapochka">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/></div>
        <div class="span5 about">
          <div class="links">
            <a href="https://www.facebook.com/andriy.shapochka" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:ashapoch@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
          <h3>Andriy Shapochka <small>System Architect</small></h3>
          <p>
            Andriy - System Architect at <a href="http://softserve.ua">SoftServe</a>. Lives in DniChernivtsipro.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <a href="/slides/<%= settings.conf %>/Andriy_Shapochka-stories_from_the_life_of_java_consultant.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Stories from the life of Java consultant</h4>
          <p>
            I'll tell you about my experience in Java consulting for the last 12-13 years.
          <p>
          <div class="label">Java</div>
        </div>
      </div>
    </div>


     <div class="row">
      <div class="span12" id="Dmitry.Voloshko">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/></div>
        <div class="span5 about">
          <div class="links">
            <a href="https://www.facebook.com/dmitry.voloshko" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:dvolosh@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
          <h3>Dmitry Voloshko <small>Java Developer</small></h3>
          <p>
            Dmitry - Java Developer at <a href="http://softserve.ua">SoftServe</a>. Lives in Dnipro.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <a href="/slides/<%= settings.conf %>/Dmitry_Voloshko-smarter_testing_with_spock.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Smarter Testing with Spock</h4>
          <p>
            Spock?! State Based Testing. Data Driven Testing. Interaction Based Testing. Spock Extensions. More Cool Stuff.
          <p>
          <div class="label">Java</div>
        </div>
      </div>
    </div>


     <div class="row">
      <div class="span12" id="Vitaliy.Yuryev">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/></div>
        <div class="span5 about">
          <div class="links">
            <a href="https://www.facebook.com/vyuryev" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:vyuryev@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
          <h3>Vitaliy Yuryev <small>R&D Manager</small></h3>
          <p>
            Vitaliy - R&D Manager at <a href="http://softserve.ua">SoftServe</a>. Lives in Lviv.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <a href="/slides/<%= settings.conf %>/Vitaliy_Yuryev-near_field_communication.pdf" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Near Field Communication</h4>
          <p>
            What is NFC? How secure is it? The future of NFC.
          <p>
          <div class="label">Communication</div>
        </div>
      </div>
    </div>


     <div class="row">
      <div class="span12" id="Maksym.Titov">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.png"/></div>
        <div class="span5 about">
          <div class="links">
            <a href="mailto:mtitov@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
          <h3>Maksym Titov <small>Java Developer</small></h3>
          <p>
            Maksym - Java Developer at <a href="http://softserve.ua">SoftServe</a>. Lives in Dnipro.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <a href="/slides/<%= settings.conf %>/Maksym_Titov-spring_security_3.pptx" target="_blank"><i class="icon-download-alt"></i></a>
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Spring Security 3</h4>
          <p>
            SS3 possibilities. Ways to include and use one.
          <p>
          <div class="label">Java</div>
        </div>
      </div>
    </div>


    </div>
  </div>
