<!-- Speakers Section -->
<div id="speakers" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

    <div class="promo_text speakers">

        <!-- Speaker -->
<!--
         <div class="row">
            <div class="span12" id="speaker">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/call_speakers.png"/>
                    <div class="links">
                        <a href="mailto:speaker@site.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Speaker</h3>
                    <p>
                        About speaker
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Speech topic</h4>
                    <p>
                        About speech
                    <p>
                </div>
            </div>
        </div>
-->
        <!-- / Speaker -->

        <!-- Yuriy Taras -->

         <div class="row">
            <div class="span12" id="yuriy.taras">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1.jpg"/>
                    <div class="links">
                        <a href="mailto:ytaras@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Yuriy Taras</h3>
                    <p>
                        Application Architect at SoftServe. Experience with Java and Ruby on Rails based projects. Cloudera Certified Developer for Apache Hadoop
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Apache Spark overview</h4>
                    <p>
                        This session will introduce basic concepts of Apache Spark framework and it's subprojects, including Streaming, SQL and MLib.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Yuriy Taras -->

        <!-- Alina Bashun -->

         <div class="row">
            <div class="span12" id="alina.bashun">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2.jpg"/>
                    <div class="links">
                        <a href="mailto:azakhr@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Alina Bashun</h3>
                    <p>
                        Business Intelligence / Data Engineer with 4 years of experience working with GoodData, QlikView and MS SQL Server
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Social Media Analytics with GoodData</h4>
                    <p>
                        GoodData platform overview including existing frameworks, tools, data integration and reporting capabilities
                    <p>
                </div>
            </div>
        </div>

        <!-- / Alina Bashun -->

        <!-- Vitaliy Bashun -->

         <div class="row">
            <div class="span12" id="vitaliy.bashun">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/3.png"/>
                    <div class="links">
                        <a href="mailto:vbash@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Vitaliy Bashun</h3>
                    <p>
                        Software developer passionate about the Big Data
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Speech topic</h4>
                    <p>
                        The speech is about Apache Hadoop ecosystem and the SoftServe's experience and solutions.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Vitaliy Bashun -->

        <!-- Vasyl Mylko -->

         <div class="row">
            <div class="span12" id="vasyl.mylko">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/4.jpg"/>
                    <div class="links">
                        <a href="mailto:vmylko@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Vasyl Mylko</h3>
                    <p>
                        R&amp;D Director at SoftServe. Research and thought leadership on Internet of Everything, Advanced Analytics, Mobility & Wearables, Personal Healthcare, UX/HCI.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Data Gravity</h4>
                    <p>
                        There is edge of the cloud, there is edge of the network... and a lot of stuff is going on at the edge and off the edge. The data there is growing faster than it could fit into the cloud... I will tell you about what happens because of that.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Vasyl Mylko -->

        <!-- Valentyn Kropov -->

         <div class="row">
            <div class="span12" id="valentyn.kropov">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/5.jpg"/>
                    <div class="links">
                        <a href="mailto:vkrop@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Valentyn Kropov</h3>
                    <p>
                        Valentyn is an industry-known expert in data storing and processing technologies with 13 years of experience with relational databases, NoSQL and Big Data technologies. On his Technology Consultant position in SoftServe he is responsible not only for technical consulting of clients on implementing multi-petabytes projects, but also for making customers believe in a value they’ll get from processing data which they didn’t process before. In a spare time Valentyn is developing Oracle community on a Oracle User group founder role as well as kitesurfing and skydiving.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Automating Hadoop Cluster Deployment</h4>
                    <p>
                        In his presentation Valentyn will share his experience in automating Hadoop cluster deployment and will show how to make it possible to do it using only one single command. Sounds unreal? Come and you'll have this magic command too.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Valentyn Kropov -->

        <!-- Sergey Shelpuk -->

         <div class="row">
            <div class="span12" id="sergey.shelpuk">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/6.jpg"/>
                    <div class="links">
                        <a href="mailto:sergii.shelpuk@gmail.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Sergey Shelpuk</h3>
                    <p>
                        Sergii is a Head of Data Science at V.I.Tech, pioneer and evangelist of data science and advanced data analytics in Ukraine. He started the first data science group in Ukraine with SoftServe and helped establishing this direction in few other companies. Today he does data science for US Healthcare with V.I.Tech and teaches data science classes in Lviv IT School.
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Small Science for Big Data: Similarity Search </h4>
                    <p>
                        There is more than one way: how to search for similar people among 300k patients with 250k features each in 3 miliseconds and 1 Mb of RAM on an office laptop.
                    <p>
                </div>
            </div>
        </div>

        <!-- / Sergey Shelpuk -->

        <!-- Taras Bachynskyy -->

         <div class="row">
            <div class="span12" id="taras.bachynskyy">
                <div class="span2 photo">
                    <img class="img-rounded" src="/images/<%= settings.conf %>/photos/7.jpg"/>
                    <div class="links">
                        <a href="mailto:tbachyns@softserveinc.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span5 about">
                    <h3>Taras Bachynskyy</h3>
                    <p>
                        Data Architect at SoftServe, focused on Big Data technologies and Analytics
                    </p>
                </div>
                <div class="span4 alert alert-block topic">
                    <i class="box-caret"></i>
                    <h4>Big Data In Action</h4>
                    <p>
                        Story from real life
                    <p>
                </div>
            </div>
        </div>

        <!-- / Taras Bachynskyy -->

    </div><!-- .promo_text speakers -->
</div><!-- #speakers -->

