
	<!-- About Section -->
	<div id="about" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>

	<div class="promo_text">
   
    <h3>Speakers</h3><br>

    <div class="row speakers">
        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p>Building rich web application with Flask and Chaplin.js</p> 
            <small><a href="speakers#Yehor.Nazarkin">Yehor Nazarkin</a></small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p>Continious Integrations in big projects</p> 
            <small><a href="speakers#Yudenko.Andriy">Yudenko Andriy</a></small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p>Using and scaling Rack and Rack-based middleware</p> 
            <small><a href="speakers#Alona.Mekhovova">Alona Mekhovova</a></small>
          </blockquote>
        </div>

      </div>

      <div class="row speakers">
        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
        </div>
        <div class="span3">
          <blockquote><br>
            <p>Emotional intelligence</p> 
            <small><a href="speakers#Vadim.Mateushev">Vadim Mateushev</a></small>
          </blockquote>
        </div>
        
        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p>Adventures of Java developer in Ruby world</p> 
            <small><a href="speakers#Orest.Ivasiv">Orest Ivasiv</a></small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.png"/>
        </div>
        <div class="span3">
          <blockquote>
            <p>Create web app with AngularJS, Grails and MongoDB in 1 hour!</p> 
            <small><a href="speakers#Yuriy.Chulovskyy">Yuriy Chulovskyy</a></small>
          </blockquote>
        </div>

      </div>

    <h3>Lightning talks</h3><br>

    <div class="row speakers">


        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-1.png"/>
        </div>
        <div class="span3 star_minutes">
          <blockquote>
            <p>Code review: fisheye & crucible</p> 
            <small>Yevhen Yepanchyn</small>
          </blockquote>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-2.png"/>
        </div>
        <div class="span3 star_minutes">
          <blockquote >
            <p>Libreeze.com - life inside of startup</p> 
            <small>Petro Sasnyk</small>
          </blockquote>
        </div>

      <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-3.png"/>
        </div>
        <div class="span3 star_minutes">
          <blockquote ><br>
            <p>3D via JavaScript</p> 
            <small>Kyrylo Buzykin</small>
          </blockquote>
        </div>
      
    </div>
        
    <div class="row speakers">
      
      <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-4.png"/>
        </div>
        <div class="span3 star_minutes">
          <blockquote>
            <p>Clojure. An uncommon view at multithreading</p> 
            <small>Serhiy Yakovyn</small>
          </blockquote>
        </div>
      
    </div>

  
  
		</div>
	</div>
</div>



