  <!-- Speakers Section -->
  <div id="about" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">


    <div class="row">
      <div class="span12" id="Yudenko.Andriy">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/></div>
        <div class="span5 about">
          <div class="links">
            <a href="mailto:yan95g@gmail.com"><i class="icon-envelope"></i></a>
          </div>
          <h3>Yudenko Andriy <small>QA Engineer</small></h3>
          <p>
            Andriy - QA Engineer at <a href="http://softserve.ua">SoftServe</a>. In IT working for over 10 years taking care about different processes of Software Development – Quality Control, Quality Assurance, Testing Automation, Configuration Management, Project Management, Training and Education.
            At this moment focused on Quality Assurance for different development projects. Lives in Dnepropetrovsk.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <!-- <a href="#" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Continious Integrations in big projects</h4>
          <p>
            Continues Integration as a tool what can make your work easier and you happier. Application Examples and Best Practices.
          <p>
          <div class="label">CI</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12" id="Alona.Mekhovova">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/></div>
        <div class="span5 about">
          <div class="links">
            <a href="http://www.facebook.com/alona.tarasova" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/in/alony" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:alony@rubygarage.org"><i class="icon-envelope"></i></a>
          </div>
          <h3>Alona Mekhovova <small>Ruby on Rails developer</small></h3>
          <p>
            Alona - web developer, working with Ruby on Rails. Admire Ruby and Rails, interested in creating a Ruby community and popularization of this technology. Co-founder at <a href="http://rubygarage.org">Ruby Garage</a>. Lives in Dnipro.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <!-- <a href="#" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Using and scaling Rack and Rack-based middleware</h4>
          <p>
            Rack is the interface for interacting with HTTP and connecting web servers, making it easy to write shockingly simple HTTP facing applications in Ruby. Will show the ways to create extra light-weight applications, expanding the Rack interface with own modules, and also the overview of existing rack-based middleware.
          <p>
          <div class="label">Ruby</div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Vadim.Mateushev">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/></div>
        <div class="span5 about">
          <div class="links">
            <a href="https://www.facebook.com/vadim.mateushev" target="_blank"><i class="icon-facebook"></i></a>
            <a href="mailto:vmateu@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
          <h3>Vadim Mateushev <small>Software Engeneer</small></h3>
          <p>
            Vadim - Software Engenner <a href="http://softserve.ua">SoftServe</a>. Before IT worked 6 years in Customer Service sphere: both F2F and by phone. Has experience in people management, coaching and staff development. Lives in Dnepropetrovsk.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <!-- <a href="#" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Emotional intelligence</h4>
          <p>
            Emotional intelligence (IE) is the ability to identify, assess, and control the emotions of oneself, of others, and of groups. Develop this ability will help to become more successful and efficient.
          <p>
          <div class="label">Social</div>
        </div>
      </div>
    </div>


     <div class="row">
      <div class="span12" id="Orest.Ivasiv">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/></div>
        <div class="span5 about">
          <div class="links">
            <a href="https://twitter.com/halyph" target="_blank"><i class="icon-twitter"></i></a>
            <a href="mailto:oivasiv@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
          <h3>Orest Ivasiv <small>Software Engeneer</small></h3>
          <p>
            Orest -  passionate software engineer at <a href="http://softserve.ua">SoftServe</a> interested in different programming languages, pragmatic approaches and performance boost practices. Co-organizer of <a href="http://www.itbooze.com.ua">itbooze</a>. Lives in Ivano-Frankivsk.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <!-- <a href="#" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Adventures of Java developer in Ruby world</h4>
          <p>
              Issues with Ruby ecosystem. Is Ruby really cross platform? Pitfalls with the Ruby language. Packaging and application distribution, pros&cons. Ruby CLI application facilities. Project based experience.
          <p>
          <div class="label">Ruby</div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Yehor.Nazarkin">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/></div>
        <div class="span5 about">
          <div class="links">
            <a href="https://twitter.com/nimnull" target="_blank"><i class="icon-twitter"></i></a>
            <a href="http://www.facebook.com/nimnull" target="_blank"><i class="icon-facebook"></i></a>
          </div>
          <h3>Yehor Nazarkin <small>Python developer</small></h3>
          <p>
            Yehor -  Pythonista, client-side adept, working with various set of Python tools for building service API layers and backend solutions. Co-founder of Kharkiv.py community. PyCon UA co-organizer. Lives in Kharkiv.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <!-- <a href="#" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Building rich web application with Flask and Chaplin.js.</h4>
          <p>
              This keynote will cover the road we walked to achieve flexible solution our projects are stand on. With Python micro-framework Flask under the hood for acquiring RESTful APIs, backbone.js-based framework Chaplin.js on the front line and all of that unicorns and rainbows every developer tries to ride on.
          <p>
          <div class="label">Python</div>
        </div>
      </div>
    </div>


     <div class="row">
      <div class="span12" id="Yuriy.Chulovskyy">
        <div class="span2 photo"><img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.png"/></div>
        <div class="span5 about">
          <div class="links">
            <a href="http://ua.linkedin.com/in/yuriychulovskyy" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:yuriy.chulovskyy@gmail.com"><i class="icon-envelope"></i></a>
          </div>
          <h3>Yuriy Chulovskyy <small>Java Developer</small></h3>
          <p>
            Yuriy - common Java developer at <a href="http://softserve.ua">SoftServe</a>. Interested in uncommon things like Gamification, knowledge management and new approaches for doing boring things.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <div class="links">
            <!-- <a href="#" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href=""><i class="icon-film"></i></a> -->
          </div>
          <h4>Create web app with AngularJS, Grails and MongoDB in 1 hour!</h4>
          <p>
              This is story about desire to see world outside of Enterprise, with desire to free your mind, avoiding heavy frameworks and trying to make things simple. This is story about usage items that you always wanted but never tried.
          <p>
          <div class="label">Java</div>
        </div>
      </div>
    </div>

    
  
    </div>



      </div>


    </div>
  </div>
