
  <!-- Vote Section -->
  <div id="register" class="content_wrap">
  
    <%= erb :"#{settings.conf}/_header" %>

    <!-- <div class="row"> -->
    <div class="span1">
          <br>
        </div>
        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/>
            <small><a href="speakers#Yehor.Nazarkin">Yehor Nazarkin</a></small>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
            <small><a href="speakers#Yudenko.Andriy">Yudenko Andriy</a></small>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
            <small><a href="speakers#Alona.Mekhovova">Alona Mekhovova</a></small>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
            <small><a href="speakers#Vadim.Mateushev">Vadim Mateushev</a></small>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
            <small><a href="speakers#Orest.Ivasiv">Orest Ivasiv</a></small>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-1.png"/>
            <small>Yevhen Yepanchyn</small>
        </div>
        
        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-2.png"/>
            <small>Petro Sasnyk</small>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-3.png"/>
            <small>Kyrylo Buzykin</small>
        </div>

        <div class="span1">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/2-4.png"/>
            <small>Serhiy Yakovyn</small>
        </div>
    <!-- </div> -->

    <div class="row">
      <div class="span1">
        <br>
      </div>
      <div class="span11">
        <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dG1hS3pSMm5tbi1mY1k4RXVYNlZfR2c6MQ" width="760" height="877" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>

    </div>
  </div>