
  <!-- About Section -->
  <div id="about" class="content_wrap">

    <%= erb :"#{settings.conf}/_header" %>


    <div class='span8 speakers'>
      
      <h3>Speakers:</h3>


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-1-b.png"/>
          <p>
            Cloud Computing with AWS
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Anton.Pogoryelyi ">Anton Pogoryelyi</a>
          </p>
      </div>

      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-2-b.png"/>
          <p>
            Puppet Automation Suite, DevOps Engineer Looks Like
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Mykola.Shengera">Mykola Shengera </a>
          </p>
      </div>

      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-3-b.png"/>
          <p>
            Steps to Cloud for Dummies
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Serhii.Borysov">Serhii Borysov</a>
          </p>
      </div>

      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-4-b.png"/>
          <p>
            Cloud Security vs Security in the Cloud
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Bohdan.Serednytskyi">Bohdan Serednytskyi </a>
          </p>
      </div>


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-5-b.png"/>
          <p>
             Vagrant - secret sauce of deveops
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Petro.Sasnyk">Petro Sasnyk </a>
          </p>
      </div>


      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/1-6-b.png"/>
          <p>
             Top Sercet
          </p> 
          <p class='author'>
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
            <a href="speakers#Myroslav.Rys">Myroslav Rys </a>
          </p>
      </div>
      


     </div>

    

    <div class='span4 speakers lightning_talks'>

      <h3>Lightning talks:</h3>

      <div class="span4">
          <img class="speaker_pht pull-left" src="/images/<%= settings.conf %>/photos/call_speakers.png"/>
          <p>
            We are looking for cool speakers
          </p> 
          <br>
          <p class='author'>
            <a href="mailto:obaranov@softserveinc.com, dovchar@softserveinc.com, omekh@softserveinc.com, vmateu@softserveinc.com">Perhaps You?</a>
          </p>
      </div>

    </div>







    <div class='span12 content_bottom'> 

        <!-- <div class="span8 reg_deadline">
          <p>
            <strong> 
              Registration will start <br>
            </strong>
              November 5
          </p>
        </div> -->


      <% if settings.page != 'register' && settings.conferencies[settings.conf][:reg_open]%>
        <div class="span4 reg_deadline">
          <p>
            <strong> 
              Registration Deadline <br>
            </strong>
              <%= settings.conferencies[settings.conf][:reg_deadline]%> 
          </p>
        </div>
        
        <div class="span4 reg_button">
            <div class="register">
              <a href="register" class="btn btn-primary" >Register</a>
              <br>
              <small class="">&nbsp;*only for SoftServe folks</small>
            </div> 
        </div>

        
        <!-- <div class="span4 reg_covers">
          <p>
            <small>SoftServe covers transportation
            and lodging expenses</small>
          </p>
        </div> -->

      <% end %>



      <!-- <div class="span4 info_pht_vid">
        <p>
          Photos: 
          <a href="#"  target="_blank"> <img class="pht_vid" src="/images/ico_photos.png"></img> </a>
          Videos:
          <a href="#"  target="_blank"> <img class="pht_vid" src="/images/ico_videos.png"></img></a>
        </p>
      </div> -->
      
      <div class="span3 info_follow_us">
          <p>
            Follow us: 
            <a href="https://twitter.com/#!/pacemaker_conf"  target="_blank"><img src="/images/twitter.png" class="twitter"></img></a>
            <a href="http://www.facebook.com/PacemakerJs"  target="_blank"><img src="/images/facebook.png" class="twitter"></img></a>
          </p>
      </div>

    </div>



</div>



