  <!-- Speakers Section -->
  <div id="speakers" class="content_wrap">

  <%= erb :"#{settings.conf}/_header" %>


  <div class="promo_text speakers">

    <!-- <div class="row">
        <div class="span4">
          <br><br>
        </div>
        <div class="span5">
            <br><br><br><br><br>
            <a href="mailto:obaranov@softserveinc.com, dovchar@softserveinc.com, omekh@softserveinc.com"><h1>Call for Speakers!<small> <br> mail us to suggest a speaker</small></h1></a>
            <br><br><br><br><br>
        </div>
        <div class="span3">
          <br><br>
        </div>
    </div> -->

    <div class="row">
      <div class="span12" id="Anton.Pogoryelyi">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-1.png"/>
          <div class="links">
            <a href="http://www.facebook.com/pogiant" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/pub/anton-pogoryelyi/33/194/770" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="https://twitter.com/pogiant" target="_blank"><i class="icon-twitter"></i></a>
            <a href="mailto:apogor@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Anton Pogoryelyi <small> Operations Engineer </small></h3>
          <p>
            Operations Engineer at <a href="http://softserve.ua">SoftServe</a>. In IT working for over 10 years, certified Microsoft, Cisco and Linux professional. Interested in cloud technologies, security and gadgets.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Cloud Computing with AWS </h4>
          <p>
            - Platform overview <br>
            - Global Infrastructure  <br>
            - Foundation Services (Compute, Storage, DB, Networking) <br>
            - Application Platform Services (Content Distribution, Application Services) <br>
            - Management & Administration
          <p>
          <div class="label"> clouds </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Mykola.Shengera">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-2.png"/>
          <div class="links">
            <a href="mailto:mshenh@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Mykola Shengera <small> DevOps Expert </small></h3>
          <p>
            DevOps Expert. For 7 years have been busy with building large, distributed infrastructure components that run SaaS to serve thousands and millions of requests per second with subsecond latency and in a fault tolerant manner. Designing and automating monitoring and deployment server and network infrastructure. Taking responsibility for day-to-day health and uptime for production services.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Puppet Automation Suite, DevOps Engineer Looks Like </h4>
          <p>
            to be announced..
          <p>
          <div class="label"> DevOps </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Serhii.Borysov">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-3.png"/>
          <div class="links">
            <a href="mailto:sborysov@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Serhii Borysov <small> Senior Software Engineer </small></h3>
          <p>
            Senior Software Engineer at <a href="http://softserve.ua">SoftServe</a>. High Load solutions and Cloud platforms adept. Lives in Amazon Cloud.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Steps to Cloud for Dummies </h4>
          <p>
            How to migrate your legacy application to Amazon Cloud. Benefits and tricks. On example.
          <p>
          <div class="label"> clouds </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span12" id="Bohdan.Serednytskyi">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-4.png"/>
          <div class="links">
            <a href="http://ua.linkedin.com/pub/bohdan-serednytskyi/36/51a/478" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="mailto:bsered@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Bohdan Serednytskyi <small> Security Engineer </small></h3>
          <p>
            Security Engineer, R&D Team, <a href="http://softserve.ua">SoftServe</a>.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Cloud Security vs Security in the Cloud </h4>
          <p>
             Cloud Security: Myth or Reality? How black-hats see cloud based machines and use main attack scenarios in the cloud. We will discuss common security issues in the cloud infrastructures and mitigation approaches.
          <p>
          <div class="label"> clouds </div>
        </div>
      </div>
    </div>


   <div class="row">
      <div class="span12" id="Petro.Sasnyk">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-5.png"/>
          <div class="links">
            <a href="https://www.facebook.com/stoune.ua" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://www.linkedin.com/in/sasnyk" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="https://twitter.com/stoune" target="_blank"><i class="icon-twitter"></i></a>
            <a href="http://blog.sasnyk.name" target="_blank"><i class="icon-external-link"></i></a>
            <a href="mailto:psasnyk@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Petro Sasnyk  <small> Tech Lead </small></h3>
          <p>
            Tech Lead at <a href="http://softserve.ua">SoftServe</a>. I'm building whole things using .NET/SaaS/Cloud/Ruby on Rails. In IT 10+ years. 
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Vagrant - secret sauce of devops </h4>
          <p>
            - The 12 Factor App by Heroku <br>
            - Is Vagrant the solution? <br>
            - Vagrant building blocks <br>
            - Using existing boxes <br>
            - Build your own box <br>
            - Extending vagrant with Veewee <br>
          <p>
          <div class="label"> VM </div>
        </div>
      </div>
    </div>


     <div class="row">
      <div class="span12" id="Myroslav.Rys">
        <div class="span2 photo">
          <img class="img-rounded" src="/images/<%= settings.conf %>/photos/1-6.png"/>
          <div class="links">
            <a href="https://www.facebook.com/myroslav.rys" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://twitter.com/stonevil" target="_blank"><i class="icon-twitter"></i></a>
            <a href="http://www.stone.org.ua" target="_blank"><i class="icon-external-link"></i></a>
            <a href="mailto:mrys@softserveinc.com"><i class="icon-envelope"></i></a>
          </div>
        </div>
        <div class="span5 about">
          
          <h3> Myroslav Rys <small> Solutions Architect </small></h3>
          <p>
            Infrastructure and Operations Management Expert at <a href="http://softserve.ua">SoftServe</a>.
          </p>
        </div>
        <div class="span4 alert alert-block topic">
          <i class="box-caret"></i>
          <div class="links">
            <!-- <a href="/slides/<%= settings.conf %>/" target="_blank"><i class="icon-download-alt"></i></a> -->
            <!-- <a href="#" target="_blank"><i class="icon-film"></i></a> -->
          </div>
          <h4> Top Secret </h4>
          <p>
            to be announced..
          <p>
          <div class="label"> DevOps </div>
        </div>
      </div>
    </div>
    
  
    </div>



      </div>


    </div>
  </div>
